.Container {
  width: 100%;
  max-width: 1000px;
}

.Notifications {
  width: 100%;
  margin: 10px 0;
}

.Notifications p {
  font-weight: 300;
  margin: 10px 0 25px 0;
}

/* .UserRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
} */

.Role {
  margin: 20px;
}

.SubHeader {
  padding: 5px;
  font-size: 20px;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  margin-bottom: 10px;
  /* border: 1px solid orange; */
}

.SearchResults {
  margin-top: 10px;
  background: white;
}

.SearchResItem {
  padding: 5px;
  display: flex;
  border: 1px solid #ddd;
  justify-content: space-between;
}

.FlexRow {
  display: flex;
  align-items: baseline;
}

.Email {
  font-style: italic;
  color: #999;
  font-size: 13px;
  margin-left: 3px;
}

.Instructions {
  background-color: white;
  border-radius: 50%;
  margin: 5px 10px;
}

.TooltipContent {
  display: none;
  position: absolute;
  padding: 10px;
  left: auto;
  right: 65px;
  z-index: 1000;
  box-shadow: lightShadow;
  background: white;
  /* color: blue; */
  border: 2px solid #ddd;
  min-width: 150px;
  width: max-content;
  max-width: 85%;
  transition: 0.2s;
}

.Instructions:hover .TooltipContent {
  display: flex;
  animation: showDropdown 0.2s;
}
