:import('../../colors.css') {
  green: green;
}

.Container {
}

.ToolTipText {
  /* visibility: visible; */
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  position: fixed;
  z-index: 10000;
  opacity: 0.8;
  /* height: 47px; */
  transition: 0.2s;
  /* text-wrap */
  display: inline;
  /* overflow: hidden; */
  white-space: no-wrap;
  text-overflow: ellipsis; /* <-- this is not working */
  margin-left: -22px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 16px;
}

.ToolTipText::after {
  position: absolute;
  display: block;
  content: '';
  border-style: solid;
  border-width: 8px;
  height: 0;
  width: 0;
  border-color: black transparent transparent transparent;
  opacity: 1;
  bottom: -16px;
  left: 14px;
}

.Green {
  composes: ToolTipText;
  color: green;
}

/* .ToolTipText:hover {
  height: 150px;
} */
