:import("../colors.css") {
  navbarHeight: navbarHeight;
}

.Container {
  display: flex;
  flex-flow: column;
  align-self: center;
  width: 100%;
  min-height: 100vh;
  /* max-width: 1300px; */
  margin-top: navbarHeight;
}

.Image {
  width: 50%;
  margin-top: 50px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.Banner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  letter-spacing: 0.1em;
}

.Particles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}

.Section {
  display: flex;
  flex-flow: column;
  align-self: center;
  margin-top: 30px;
  width: 100%;
  /* max-width: 1300px; */
  min-height: calc(100vh - 300px);
}
