:import('../../colors.css') {
  lightBlue: lightBlue;
  coldGray: coldGray;
  darkGray: darkGray;
  lightestShadow: lightestShadow;
}

.Section {
  display: flex;
  flex-flow: column;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  background: white;
  box-shadow: lightestShadow;
  /* padding: 3px; */
  border-radius: 3px;
}

.Header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 1.1em;
  color: darkGray;
  background: coldGray;
  padding: 3px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 3px;
}

.Left {
  display: flex;
}

.Icon,
.Right {
  margin: 0 8px;
  color: lightBlue;
}

.Right {
  min-width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* hack to center ToggleGroup */
  margin-right: -33px;
}

.Content {
  padding: 10px;
}

.RightTitle {
  color: darkGray;
}
