:import('../../colors.css') {
  background: mainBackground;
  darkGray: darkGray;
  coldGray: coldGray;
  lightBorder: lightBorder;
}

.Container {
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: white;
  overflow-y: hidden;
  border-radius: 3px;
}

.Avatar {
  margin: 10px 0;
  transition: 0.25s;
}

.Active {
  font-size: 18px;
  font-weight: 700;
}

.Passive {
  font-size: 14px;
}

.Expanded {
  align-self: flex-start;
  width: 100%;
  overflow-y: scroll;
  padding: 5px 10px;
  height: 100%;
  max-height: 220px;
}

.Collapsed {
  display: none;
}

.Expanded::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

.Expanded::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.Title {
  padding: 8px 10px 8px 10px;
  border-bottom: 1px solid lightBorder;
  background-color: coldGray;
  border-radius: 3px 3px 0 0;
  color: darkGray;
  font-size: 17px;
  letter-spacing: 1px;
  cursor: pointer;
  display: flex;
  flex-flow: column;
  align-items: center;
  flex-wrap: nowrap;
}

.RoomDetail {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.RoomDetailText {
}
