*, *:before, *:after {
  box-sizing: border-box;
}

.FlexCol {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.FlexRow {
  display: flex;
}

.Link {
  text-decoration: none;
}

.Link:hover {
  text-decoration: none;
}
