*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* max-width: 100vw;
  overflow-x: hidden;
  background-size: 30px 30px;
  background-image: linear-gradient(to right, #a4deff .5px, transparent 1px), linear-gradient(to bottom, #a4deff .5px, transparent 1px) !important; */
  font-family: 'Voces', 'sans-serif';
}

.FlexCol {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.FlexRow {
  display: flex;
  width: 100%;
}

.Link {
  text-decoration: none;
}

.Link:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}
