*, *:before, *:after {
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background-size: 30px 30px;
  background-image: linear-gradient(to right, #f1f1f1 1px, transparent 1px), linear-gradient(to bottom, #f1f1f1 1px, transparent 1px) !important;
}
.FlexCol {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.FlexRow {
  display: flex;
  width: 100%;
}

.Link {
  text-decoration: none;
}

.Link:hover {
  text-decoration: none;
}

.Link:active {
  text-decoration: none;
}

a:active {text-decoration: none;}
