.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  height: 100%;
  background: #f9f9f9;
  margin-top: 15px;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28);
}

.Log {
  width: 75%;
  background: #333;
  flex-grow: 2;
  margin: 10px 0 20px 0;
}

.Controls {
  margin: 10px 0;
  justify-content: center;
  /* flex-grow: 1; */
}

.Button {
  padding: 5px;
  width: 70px;
}

.ProgressBar {
  display: flex;
}

.Break {
  width: 6px;
  height: 8px;
  background: #C91922;
}

.Active {
  height: 8px;
  background: #6CCB3E;
  min-width: 6px;
}

.Time {
  font-size: .8em;
}

.Slider {
  display: flex;
  align-items: center;
  position: relative;
  /* flex-grow: 1; */
  height: 10px;
  width: 600px;
  background-color: white;
  border: 1px solid #bbb;
  border-style: inset;
  border-radius: 15px;
  align-self: center;
}

.ProgressMarker {
  border: 3px solid #2f91f2;
  position: absolute;
  border-radius: 15px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
}
