.vscode
Icon

.DS_Store
node_modules

# ignore the alternative environment files
.env
.env_new
.env_old
.env_pyret
.env_base
.env_devLocal
.env_production
.env_staging
.env_testLocal
.env_testServer
**/.env*

# ignore items associated with client builds
client/build
client/encompassBuild
production/
staging/
*.zip

# ignore redis dumps
dump.rdb 
