/node_modules/
/client/node_modules/
/concertChatApps/
/cypress/integration/examples/
/cypress/screenshots/
/cypress/videos/
/client/build
.vscode
/server/.env
/production/
/staging/
/client/encompassBuild
/server/node_modules
backup.zip
/geogebra/
Icon
.DS_Store
