language: node_js
node_js:
  - 10.8
services:
  - mongodb
install:
  - npm install
  - npm --prefix ./client install ./client
  - npm run build-production
cache:
  directories:
    - ~/.npm
    - ~/.cache
before_script:
  - node ./bin/www &
script:
  - cypress run --browser electron --record --key b6a27be0-bdd5-4a35-99de-8d1d331e2e74
