<!DOCTYPE html>
<html>
<head>
<title>Multi User GeogebraWeb Test</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="web/css/ggbFrame.css">
    <script src="web/lib/jquery.js"></script>
    <script>
     // ios safari won't squeez the ggb iframe into its div, so
     // we have to detect the size of the div that contains the iframe
     // and adjust the ggb canvas size, otherwise, the iframe will
     // will accomodate ggb, and safari will let it spill over its div.
     // At least this way everyone gets a ggb that is custom fit to their screen.
     $(document).ready( function(){
      
       var tabsWidth = Math.floor(parent.$("#tabs").width());
       console.log("ARM window width: " + tabsWidth );
       $(".geogebraweb").attr("data-param-width", tabsWidth-15 );

       var viewportHeight = window.parent.innerHeight - window.parent.$("#tabs ul").innerHeight();
       var vpHeight = Math.floor( viewportHeight );
       console.log("ViewPort height: " + vpHeight );
       $(".geogebraweb").attr("data-param-height", vpHeight );
     });
    </script>
    <script type="text/javascript" language="javascript" src="web/web.nocache.js"></script>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="web/lib/ggbClient.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
