:import('../../colors.css') {
  graphHeight: graphHeight;
  graphWidth: graphWidth;
  lightShadow: lightShadow;
  red: red;
  blueHover: blueHover;
  blue: blue;
  lightGray: lightGray;
}

.Activity {

}

.Graph {
  height: 100%;
  width: 100%;
}

.Control {
  height: 100%;
  /* width: 100%; */ /* We calculate the width based on the Graph element to account for vertical scrollbar */
  position: absolute;
  /* background-color: rgba(0,0,0,0.5) */
}

.ControlWarning {
  position: fixed;
  background: #efefef;
  color: red;
  transition: 0.2s;
  z-index: 601;
  padding: 10px;
  box-shadow: lightShadow;
  border-radius: 4px;
}
/* ^^ THIS WILL ONLY SHOW UP IF THEY'VE HACKED THE JAVASCRIPT */

.ReferenceLine {
  position: absolute;
  height: 10px;
  width: 10px;
  background: red;
  z-index: 5000;
}

.ImportOption {
  height: 110px;
}

.ImportOption input {
  width: 100%;
}

.Info {
  margin: 15px 0;
}

.Title {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 0 auto; */
  padding: 2px 10px;
  color: blue;
  font-size: 15px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  /* border: 1px solid darkorchid; */
  /* color: ; */
}

.Screens {
  color: #2d91f2;
  font-size: 13.5px;
  text-transform: lowercase;
  text-align: center;
}

.ActivityNav {
  z-index: 999;
  position: absolute;
  display: flex;
}

.Toast {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 120px;
  background: lightgray;
  color: blue;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid blueHover;
}
