:import('../../colors.css'){
  graphHeight: graphHeight;
  graphWidth: graphWidth;
  lightShadow: lightShadow;
}

.Graph {
  height: 100%;
  width: 100%;
  position: relative;
  /* border: 1px solid #ddd; */
}

.ControlWarning {
  position: fixed;
  background: #efefef;
  color: red;
  transition: .2s;
  z-index: 601;
  padding: 10px;
  box-shadow: lightShadow;
  border-radius: 4px;
} 
/* ^^ THIS WILL ONLY SHOW UP IF THEY'VE HACKED THE JAVASCRIPT */