:import('../../colors.css') {
  orange: orange;
  red: red;
}

.Tab {
  width: fit-content;
  align-self: flex-start;
  height: 35px;
  overflow: hidden;
  float: left;
  margin: 0 0 0 0;
  cursor: pointer;
  position: relative;
}

.TabNotification {
  position: absolute;
  right: 9px;
  top: 0px;
  background: red;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  transition: 0.2s;
  animation: bounce 4s infinite;
  overflow: visible;
  z-index: 2000 !important;
}

@keyframes bounce {
  0% {
    transform: rotateY(0deg);
  }
  20% {
    transform: rotateY(180deg);
  }
  80% {
    transoform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.NewTab .TabBox {
  width: fit-content;
  padding: 0 10px;
  color: darkGrey;
  font-size: 16px;
  border: 1px transparent;
  background-color: transparent;
  margin-right: 20px;
  z-index: -1;
}

.NewTab .TabBox i {
  position: relative;
  top: -1px;
  box-shadow: none;
}

.TabBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background: #e8e8e8;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;
  margin: 0 0 0 0;
  /* box-shadow: 0 0 2px  #fff inset; */
  transition: 0.2s;
  z-index: -1;
  font-size: 13px;
  /* -webkit-transform: perspective(150px) rotateX(30deg);
  -moz-transform: perspective(150px) rotateX(30deg); */
}

.TabName {
  padding: 0 15px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: darkGrey;
}

.Active {
  z-index: 40;
  /* position:relative; */
  padding-bottom: 1px;
}

.Tab:hover .TabBox {
  background-color: #fdfdfd;
}

.Active .TabBox {
  background-color: white;
  color: black;
  /* box-shadow: 0 0 2px 0 #fff inset; */
}

.Active .TabBox .TabName {
  color: black;
}

.Active:hover .TabBox {
  background-color: #f8f8f8;
}

.NewTab:hover .TabBox {
  color: orange;
  background-color: transparent;
}
