:import('../../colors.css') {
    graphHeight: graphHeight;
    graphWidth: graphWidth;
    lightShadow: lightShadow;
    red: red;
    blueHover: blueHover;
    blue: blue;
    lightGray: lightGray;
  }

  .Activity {
  display: flex;
  }
  

  .leftPane {
    max-width: 200px;
  }
  
  
  .Graph {
    height: 100%;
    width: 100%;
  }
  
  .Control {
    height: 100%;
    /* width: 100%; */ /* We calculate the width based on the Graph element to account for vertical scrollbar */
    position: absolute;
    /* background-color: rgba(0,0,0,0.5) */
  }
  
  .ControlWarning {
    position: fixed;
    background: #efefef;
    color: red;
    transition: 0.2s;
    z-index: 601;
    padding: 10px;
    box-shadow: lightShadow;
    border-radius: 4px;
  }
  /* ^^ THIS WILL ONLY SHOW UP IF THEY'VE HACKED THE JAVASCRIPT */
  
  .ReferenceLine {
    position: absolute;
    height: 10px;
    width: 10px;
    background: red;
    z-index: 5000;
  }
  
  .ImportOption {
    height: 110px;
  }
  
  .ImportOption input {
    width: 100%;
  }
  
  .Info {
    margin: 15px 0;
  }
  
  .Title {
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex: 2 0 auto; */
    padding: 2px 10px;
    color: blue;
    font-size: 15px;
    letter-spacing: 0.08em;
    text-transform: capitalize;
    /* border: 1px solid darkorchid; */
    /* color: ; */
  }
  
  .Screens {
    color: #2d91f2;
    font-size: 13.5px;
    text-transform: lowercase;
    text-align: center;
  }
  
  .ActivityNav {
    z-index: 999;
    position: absolute;
    display: flex;
  }
  
  .Toast {
    position: absolute;
    z-index: 2;
    top: 35px;
    left: 120px;
    background: lightgray;
    color: blue;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid blueHover;
  }
  .LibButtons {

  }


  #uToolList li {
    display:block;
    padding: 2px 0px;
    font-family: sans-serif;
    font-weight: 500;
    width: inherit;
    max-width: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    }


.toolCollection {
	height: 20.375rem;
	padding: 0;
	padding-left: 0.5rem;
	margin:0;
	border: 1px solid lightgray;
	border-collapse: collapse;
	overflow-y: auto;
	resize: both;
}

.toolTable {
  display: flex;
  flex-wrap: wrap;
	box-sizing: border-box;
	clear: both;
	border-collapse: collapse;
	font-family: sans-serif;
	text-align: center;
	font-size: 0.8rem;
	width: 100%;
	margin-top: 1.5rem;
	margin-left: -1px;
}
.toolTable > * {
border: 0.1rem solid black;
border-color: black LightGray;
flex: 1 1 0px;
margin: 0.05rem;
}

/* .toolItem {
	display: inline-block;
	float: left;
	height: 4.5rem;	 Use 5 and 6.8 for close to full size, or 4 and 5.5 for small boxes 
	width: 6.2rem;
	padding: .5rem;
	padding-top: 1rem;
	border: solid black;
	border-color: black LightGray;
	border-width: 0.25rem 0.01rem;
	border-collapse: collapse;
	vertical-align: middle;
	text-align: center;
	margin: -0.125rem 0;
} 
*/

.firstToolItem {	/* borders are collapsed. Need to adjust first & last of a group to be same width as other cells */
	border-left: 0.25rem solid black;
	margin-left: -0.125rem;	/* shift border 1/2 the border width to the left */
	padding-left: 0.4375rem;	/* reduce the padding to compensate */
}

.lastToolItem {
	border-right: 0.25rem solid black;
	margin-right: -0.125rem;
	padding-right: 0.4375rem;
}
	
.toolItem img {
	width: 80%;
	height: 80%;
}
  