:import('../../../colors.css'){
  lightBlue: gridBlue;
  blue: blue;
}

.Container {
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  font-size: 18px;
  width: 100%;
}

.Input {
  /* width: 100%; */
  padding: 10px 0;
  border: none;
  /* border-radius: 4px; */
  border-bottom: 2px solid blue !important;
  background: none !important;
  font-size: 20px;
  caret-color: blue;
  color: black;
  transition: .2s;
}

.Input:-webkit-autofill {
  -webkit-text-fill-color: blue !important;
}

.Input:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
  border-bottom: 2px solid lightBlue !important;
}

.Label {
  margin: 10px 0;
  text-align: left;
  font-size: 18px;
  color: black;
}
