.Input{
  /* width: 100%; */
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
  background: white !important;
}

 /* uncomment to control autofill settings */
/*
.Input::placeholder {
  color: white;
}

.Input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: white;
} */
