:import('../../../colors.css'){
  lightBlue: gridBlue;
  blue: blue;
}

.Container {
  display: flex;
  flex-flow: column;
  /* margin-top: 10px; */
  /* font-size: 18px; */
  width: 100%;
  margin-bottom: 20px;
  /* padding: 10px; */
}

.Input {
  width: 100%;
  /* border-radius: 4px; */
  border: none !important;
  border-bottom: 1px solid white !important;
  background: none !important;
  font-size: 35px;
  caret-color: lightBlue;
  color: white;
  transition: .2s;
  font-size: 20px;
  padding: 10px 10px 10px 0px;
}

.Input:-webkit-autofill {
  -webkit-text-fill-color: blue !important;

}

.Input:focus {
  box-shadow: none !important;
  /* border: 1px solid red !important; */
  outline: none !important;
  border-bottom: 1px solid blue !important;
}

.Input::placeholder {
  color: #d3d3d3;
  opacity: .8;
  font-weight: 300;
}

.Input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d3d3d3;
  opacity: .8;
  font-weight: 300;
}

.Input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #d3d3d3;
  opacity: .8;
  font-weight: 300;
}

.Label {
  margin: 10px 0;
  text-align: left;
  color: inherit;
  font-weight: 400;
  font-size: 18px;
}

.Input:focus + .Label{
  color: blue;
}
