:import("../../../colors.css") {
  darkOrange: darkOrange;
  orange: orange;
  yellow: yellow;
  red: red;
  blue: blue;
  darkGrey: darkGrey;
}

.Tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  display: flex;
  overflow-x: auto;
}

.Tab {
  position: relative;
  flex: 0.2 0 auto;
  max-width: 160px;
  min-width: 140px;
  padding: 15px 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400px;
  height: 50px;
  /* margin: 8px 35px 0 0; */
  /* letter-spacing: .08em; */
  cursor: pointer;
  border-bottom: 1.5px solid #ddd;
  margin-bottom: 2px;
  transition: 0.2s;
  color: darkGrey;
}

.Tab:hover {
  border-bottom: 4px solid lightGrey;
  color: darkGrey;
}

.ActiveTab {
  /* border-bottom: 1px solid #2D91F2; */
  border-bottom: 4px solid orange;
  /* margin-bottom: 2px; */
  color: black;
  font-weight: 600;
}

.ActiveTab:hover {
  border-bottom: 4px solid orange;
}
/* @TODO might consider extracting out Notification to its own component */
.Notifications {
  transition: 0.2s;
  position: absolute;
  top: 5px;
  right: 0px;
}

.NotificationCount {
  position: relative;
  top: 3px;
}

@media screen and (max-width: 760px) {
  .Tab {
    font-size: 12px;
    min-width: 50px;
  }
}
