.Tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.Tab {
  display: flex;
  padding: 15px;
  margin: 8px 35px 0 0;
  letter-spacing: .08em;
  cursor: pointer;
}

.ActiveTab {
  border-bottom: 1px solid #2D91F2;
}
/* @TODO might consider extracting out Notification to its own component */
.Notifications {
  margin-left: 10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}
