:import('../../../colors.css') {
  orange: orange;
  red: red;
  blue: blue;
  darkGrey: darkGrey;
}

.Tabs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  display: flex;
  overflow-x: auto;
}

.Tab {
  position: relative;
  flex: .2 0 auto;
  max-width: 160px;
  min-width: 140px;
  padding: 15px 0;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400px;
  height: 50px;
  /* margin: 8px 35px 0 0; */
  /* letter-spacing: .08em; */
  cursor: pointer;
  border-bottom: 1.5px solid #ddd;
  margin-bottom: 2px;
  transition: .2s;
  color: #9f9f9f;
}

.Tab:hover {
  border-bottom: 1.5px solid darkGrey;
  color: darkGrey;
}

.ActiveTab {
  /* border-bottom: 1px solid #2D91F2; */
  border-bottom: 4px solid blue !important;
  /* margin-bottom: 2px; */
  color: black;
  font-weight: 600;
}
/* @TODO might consider extracting out Notification to its own component */
.Notifications {
  position: absolute;
  top: calc(50% - 12px); /** half the parent height - half of this height **/
  right: 4px;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 22px;
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  height: 22px;
  text-align: center;
  font-weight: 400;
}

.NotificationCount {
  position: relative;
  top: 3px;
}

@media screen and (max-width: 760px) {
  .Tab {
    font-size: 12px;
    min-width: 50px;
  }
}
