:import('../../../colors.css'){
  blue: blue;
}
.Edit {
  color: #999;
  cursor: pointer;
  transition: .2s;
}

.Edit:hover {
  color: blue;
}

.Instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TextArea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  padding: 5px;
}

.EditButtons {
  display: flex;
}