.Controls {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 14px;
  margin-bottom: 30px;
}

.Search {
  font-size: 20px;
  flex-grow: 1;
  margin: 0 5px;
}

.ResourceHeader {
  margin-bottom: 20px;
}

.Row {
  display: flex;
}

.Col {
  display: flex;
  flex-flow: column;
  flex: 1;
}

.Col:first-child {
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid #ddd;
}

@media screen and (max-width: 800px) {
  .Row {
    flex-flow: column;
  }
}
