:import('../../../colors.css'){
  lightestShadow: lightestShadow;
  blue: blue;
  darkGrey: darkGrey;
}

.Buttons {
  height: 50px;
}

.Button {
  font-size: 1.4em;
}

.StateImage {
  box-shadow: lightestShadow;
  height: 400px;
}

.Edit {
  color: #999;
  cursor: pointer;
  transition: .2s;
}

.Edit:hover {
  color: blue;
}

.Instructions {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}

.Instructions div {
  margin-left: 5px;
}

.Instructions textarea {
  margin-left: 10px;
  border-radius: 3px;
  color: darkGrey;
  padding: 10px;
  font-size: 16px;
  margin-top: -10px;
}

.Section div {
  margin: 10px 0;
}

.TextArea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  padding: 5px;
}

.EditButtons {
  display: flex;
}