:import("../../../colors.css") {
  darkBorder: darkBorder;
  lightGrey: lightGrey;
}

.Heading {
  font-size: 20px;
  padding-bottom: 2px;
  border-bottom: 1px solid lightGrey;
  display: inline-block;
  margin-bottom: 10px;
}
