.checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox input[type='checkbox'] {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  position: relative;
  display: inline-block;

  /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
  padding-left: 22px;
  cursor: pointer;
}

.checkbox label::before,
.checkbox label::after {
  position: absolute;
  content: '';
  /*Needed for the line-height to take effect*/
  display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before {
  height: 16px;
  width: 16px;
  border: 1px solid;
  left: 0px;

  /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  top: calc(50% - 8px);
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
  height: 5px;
  width: 9px;
  border-left: 2px solid;
  border-bottom: 2px solid;

  transform: rotate(-45deg);

  left: 4px;
  top: calc(50% - 2.5px);
}

/*Hide the checkmark by default*/
.checkbox input[type='checkbox'] + label::after {
  content: none;
}

/*Unhide on the checked state*/
.checkbox input[type='checkbox']:checked + label::after {
  content: '';
}
