:import('../../colors.css'){
  gray: backgroundGray;
  blue: blue;
  red: red;
  lightShadow: lightShadow;
}

.Container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.LoginContainer {
  margin-top: 110px;
  border-radius: 4px;
  padding: 15px;
  width: 66%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  color: white;
}

.Title {
  /* color: blue; */
  letter-spacing: .09em;
}

.ErrorMsg {
  position: relative;
  color: red;
  height: 35px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  width: 100%;
}

.Error {
  position: absolute;
  text-align: center;
  width: 100%;
  
}

.Form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.Submit {
  margin: 20px 0;
  /* width: 400px; */
}

.Loading {
  position: fixed;
  margin: auto;
  z-index: 1000;
}
