:import('../../colors.css'){
  gray: backgroundGray;
  blue: blue;
  red: red;
  lightShadow: lightShadow;
}

.Container {
  display: flex;
  justify-content: center;
}

.LoginContainer {
  margin-top: 10%;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 300;
  color: white;
}

.Title {
  /* color: blue; */
  letter-spacing: .07em;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 32px;
}

.ErrorMsg {
  position: relative;
  color: red;
  height: 35px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
  width: 100%;
  margin-bottom: 30px;
  text-align: left;
}

.Error {
  position: absolute;
  text-align: center;
  width: 100%;

}

.Form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.Submit {
  margin: 20px 0;
  /* width: 400px; */
}

.Loading {
  position: fixed;
  margin: auto;
  z-index: 1000;
}
