<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>VMT Mobile Prototype</title>
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/smoothness/jquery-ui.css">
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/font-awesome.min.css">
  <link rel="stylesheet" href="css/nouislider.min.css">
  <link rel="stylesheet" href="css/vmt.css">
  <script src="/socket.io/socket.io.js"></script>
  <script>
    window.vmtHost = "{{hostValue}}";
    window.vmtPort = {{portValue}};
  </script>
</head>
<body>
  <script src="build/vmt.js"></script>
</body>
</html>
