.Loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f8f8f8;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.SmallLoading {
}

.Graph {
  height: 100px;
  width: 100px;
  background-size: 11px 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, black 0.35px, transparent 1px),
    linear-gradient(to bottom, black 0.35px, transparent 1px) !important;
}



.Pending {
  /* background-color: white; */
  margin-top: 20px;
  font-size: 20px;
  transition: 0.1s;
}

.dot1 {
  animation: visibility 2s linear infinite;
}
@keyframes visibility {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot2 {
  animation: visibility2 2s linear infinite;
}
@keyframes visibility2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot3 {
  animation: visibility3 2s linear infinite;
}
@keyframes visibility3 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
