:import('../../colors.css') {
  blue: blue;
  darkShadow: darkShadow;
  navbarHeight: navbarHeight;
}

.NavContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 100%;
  height: navbarHeight;
  background-color: blue;
  color: white;
  z-index: 350;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Fixed {
  composes: NavContainer;
  position: fixed;
  height: navbarHeight;
}

.WorkspaceNav {
  composes: NavContainer;
  box-shadow: none;
  background: transparent;
}

.LogoContainer {
  order: 1;
  flex: 0.25 0 auto;
}

.Logo {
  height: 100%;
  margin-left: 8%;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
}

.LogoShort {
  height: 100%;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  display: none;
}

.NavListContainer {
  height: 100%;
  order: 2;
  flex: 0.75 0 auto;
}

.NavListContainer ul {
  display: flex;
  height: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: center;
  justify-content: flex-end;
  align-items: center;
  margin-right: 22px;
}

.NavListContainer ul li {
  flex: 0.1 0 auto;
}

@media screen and (min-width: 1300px) {
  .NavContainer {
    border-radius: 0px;
  }
}

@media screen and (max-width: 620px) {
  .LogoShort {
    display: block;
    margin-left: 25px;
  }
  .Logo {
    display: none;
  }
}
