.Clocks {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 800px;
  letter-spacing: .1em;
}

.AbsClocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.RelTime {

}

.AbsTime {

}
