.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    min-height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    padding: 16px;
    right: 100%;
    top: 30%;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease-out;
    border-radius: 6px;
}

.Message {
  color: #2D91F2;
  border: 1px solid #ddd;
  border-radius: 3px;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}
