.Modal {
    position: absolute;
    right: 50%;
    left: calc(50% - 250px);
    top: 20%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: 500px;
    min-height: 300px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    background-color: white;
    padding: 16px;
    z-index: 500;
    overflow: scroll;
    transition: all 0.3s ease-out;
}

.Modal::-webkit-scrollbar {
  width: 0.5em;
  height: 0.09em;
  background-color: #eee;
}

.Modal::-webkit-scrollbar-thumb {
  background-color: #2D91F2;
  border-radius: 3px;
}

.Message {
  color: #2D91F2;
  border: 1px solid #ddd;
  border-radius: 3px;
}

@media (max-width: 600px) {
  .Modal {
      width: 400px;
      left: calc(50% - 200px);
  }
}

@media (max-width: 400px) {
  .Modal {
      width: 380px;
      left: calc(50% - 160px);
  }
}
