.Container {
  display: flex;
}

.SidePanel {
  display: flex;
  flex-flow: column;
  width: 25%;
  max-height: 100%;
}

.Graph {
  width: 75%;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28);
  border-radius: 3px;
}
.Chat {
  margin: 0px 15px;
  height: 50%;
  max-height: 50%;
  border-radius: 3px;
}

.Replayer {
  height: 220px;
  border-radius: 3px;
}

.Members {
  height: 50%;
  border-radius: 3px;
  margin: 15px 15px 0 15px;
}

.Avatar {
  margin: 5px;
}
