.PageContainer {
  width: 100%;
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
}

.Container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1500px;
}

.SidePanel {
  display: flex;
  flex-flow: column;
  width: 25%;
  max-height: 100%;
}

.Graph {
  /*  IF THIS ^  CHANGES BE SURE TO CHANEG THE WIDTH PARAMETER ON THE GGB GRAPH*/
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28);
  border-radius: 3px;
}
.Chat {
  margin: 0px 15px;
  height: 61.53%;
  border-radius: 3px;
}

.Replayer {
  height: 220px;
  border-radius: 3px;
}

.Members {
  height: 38.46%;
  border-radius: 3px;
  margin: 15px 15px 0 15px;
}

.Avatar {
  margin: 5px;
}
