.Container {
  display: flex;
}

.SidePanel {
  display: flex;
  flex-flow: column;
  width: 25%;
}

.Graph {
  width: 75%;
}
.Chat {
  margin: 0px 10px;
  height: 50%;
}

.Members {
  height: 50%;
  margin: 10px;
}

.Avatar {
  margin: 5px;
}
