.Message {
  display: flex;
  flex-flow: column;
  background-color: rgba(225,123,112,.7);
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 8px 17px 2px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2);
  color: white;
  width: 200px;
}
