.Container {
width: 100%;
}

.Notifications {
  width: 100%;
}

.UserRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
}

.Role {
  margin: 20px;
}
