.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
}

.Avatar {
  margin: 20px;
  /* width: 100px; */
}

.Notification {
  background: red;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
}

.Row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 150px;
}

.Role {
  margin: 20px;
}

.Icon {
  padding: 5px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  transition: .2s;
}

.Icon:hover {
  color: #888;
}

@media (max-width: 920px) {
  .Container {
    justify-content: flex-start;
  }
  .Row {
    width: 100px;
  }
}