:import('../../../colors.css') {
  lightestShadow: lightestShadow;
  blue: blue;
  red: red;
  darkGrey: darkGrey;
}

.Container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  /* box-shadow: lightestShadow; */
  height: 64px;
  max-height: 64px;
  /* margin-bottom: 10px; */
}

.Avatar {
  margin: 10px 20px;
  margin-top: 15px;
  /* width: 100px; */
}

.Avatar span {
  margin-right: 10px;
}

.Notification {
  background: red;
  color: white;
  padding: 3px 10px;
  border-radius: 10px;
}

.Row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  /* width: 150px; */
}

.Row button {
  position: relative;
  right: -30px;
}

.Role {
  margin: 20px;
  color: darkGrey;
}

.Edit {
  /* padding: 5px; */
  margin-right: 20px;
  cursor: pointer;
  font-size: 19px;
  color: black;
  transition: 0.2s;
  color: #888;
}

.Edit:hover {
  color: darkGrey;
}

.Trash {
  font-size: 22px;
  color: red;
  margin-right: 20px;
  cursor: pointer;
}

.Trash:hover {
  color: #888;
}

.DropDownContainer {
  position: relative;
}

.DropDown {
  right: 20px;
  top: -16px;
  position: absolute;
  background: white;
  z-index: 200;
}

.CanRemoveContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 2px;
  /* box-shadow: lightestShadow; */
  height: 50px;
  max-height: 64px;
  /* margin-bottom: 10px; */
}

.CanRemove {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 5px;
}

.FlexRow {
  display: flex;
  align-items: baseline;
}

.Email {
  font-style: italic;
  color: #999;
  font-size: 13px;
  margin-left: 3px;
}

@media screen and (max-width: 800px) {
  .Trash,
  .Edit {
    /* justify-content: flex-start; */
    margin-right: 5px;
  }
  .Row {
    /* width: 100px; */
  }
}
