.Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
}

.Row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
}

.Role {
  margin: 20px;
}

.Icon {
  padding: 5px;
  cursor: pointer;
  font-size: 1em;
  color: black;
  transition: .2s;
}

.Icon:hover {
  color: #888;
}
