/* We should have made a component that chat currentMembers and this can
all share. we are repeating styles in each of those copmnents  */
:import("../../../colors.css") {
  blue: blue;
  blueHover: blueHover;
}
.Container {
  /* position: absolute; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  background-color: white;
  height: inherit;
  width: 100%;
  border-radius: 3px;
  flex: 1;
  box-shadow: lightShadow;
}

.Title {
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(245, 245, 245);
  border-radius: 3px 3px 0 0;
  color: black;
  font-size: 17px;
  letter-spacing: 1.12px;
}

.Expanded {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 5px 10px;
  height: 100%;
}

.Collapsed {
  display: none;
}

.ReferenceWindow {
  /* height: 100%; */
  box-shadow: lightShadow;
  align-self: auto;
  flex: 0 0 auto;
  /* flex-grow: 0;
  flex-shrink: 1; */
}

.AwarenessDesc {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 10px;
}

.AwarenessIcon {
  position: relative;
  overflow: visible;
  margin: 2px;
}

.AwarenessIcon:hover .ToolTip {
  display: flex;
}
.Save {
  margin-top: 10px;
}

.Controls {
  display: flex;
  margin-top: 10px;
}

.MousePointer {
  font-size: 18px;
  height: 50px;
  width: 50px;
  padding: 14px 10px 4px 20px;
  border-radius: 50%;
  background: #e8e8e8;
  margin: 5px 10px;
  transition: 0.2s;
}

.ReferenceControls {
  display: flex;
  cursor: pointer;
  align-items: center;
  /* width: 100%; */
  height: 60px;
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.ReferenceTool {
  border-bottom: 1px solid #f9f9f9;
  transition: 0.2s;
}

.ReferencingActive {
  background: lightBlue;
}

/* .ReferenceControls:hover .MousePointer {
  background: lightBlue;
} */

.ReferenceControls:hover .ReferenceTool {
  border-bottom: 1px solid #999;
}

.SideButton {
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  background-color: blue;
  color: white;
  border-radius: 3px 0px 0px 3px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  box-shadow: lightShadow;
  text-align: center;
}

.SideButton:hover {
  background: blueHover;
}

.Exit {
  composes: SideButton;
  color: #666;
  background-color: #d2d2d2;
  border-radius: 0px 3px 3px 0px;
}

.Exit:hover {
  background: #dfdfdf;
}
