:import('../../../colors.css') {
  blue: blue;
}

/* .StepDisplay {
  display: flex;
  justify-content: center;
} */

.progressbar {
  /* width: 100%; */
  padding: 0;
  display: flex;
  justify-content: center;

}

.progressbar li {
  list-style-type: none;
  width: 20%;
  float: left;
  font-size: .9em;
  position: relative;
  text-align: center;
  text-transform: capitalize;
  color: #999;
  /* font-weight: $main-font-weight; */
}

/* .step-display {
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 35px;
} */

.progressbar .step:before {
  width: 30px;
  height: 30px;
  counter-increment: step;
  line-height: 30px;
  border: 2px solid #999;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: #999;
  color: white;
}

.step1:before {content: '1';}
.step2:before {content: '2';}
.step3:before {content: '3';}
.step4:before {content: '4';}

.progressbar .step:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #999;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.step:first-child:after {
  content: none;
}

.active-step {
  color: blue;
}

.active-step:before {
  border-color: blue;
  background-color: blue;
}

.active-step .step:after {
  background-color: blue;
  border: 2px solid blue;
}
