:import("../../../colors.css") {
  blue: blue;
  lightestShadow: lightestShadow;
}
.UserInfo {
  /* margin-bottom: 5px; */
  display: flex;
  align-items: center;
}

.UserInfo a {
  margin: 0 auto;
}

.BigAvatar {
  align-self: center;
  height: 222px;
  width: 222px;
}

.Avatar {
  background-color: blue;
  color: white;
  border-radius: 50%;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  /* border: 3px solid black; */
  /* align-self: flex-start; */
}

.AvatarContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2px;
  height: inherit;
  background: white;
  border-radius: 3px;
  box-shadow: lightestShadow;
}

.AvatarOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #353535;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.2s;
}

.CameraIcon {
  font-size: 35px;
  margin: 15px;
  color: white;
}
.AvatarContainer:hover .AvatarOverlay {
  opacity: 0.5;
  z-index: 2;
  cursor: pointer;
}

.Username {
  margin-left: 10px;
}
