:import('../../../colors.css') {
  blue: blue;
}
.UserInfo {
  margin-bottom: 5px;

  width: 100%;
}

.UserInfo a {
  margin: 0 auto;
}

.Avatar {
  background-color:blue;
  color: white;
  border-radius: 50%;
  align-self: flex-start;
}

.AvatarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding: 2px;
  background: white;
}

.Username {
  margin-left: 10px;
}