:import('../../../colors.css') {
  blue: blue;
}
.UserInfo {
  margin-bottom: 5px;
  display: flex;
}

.UserInfo a {
  margin: 0 auto;
}

.Avatar {
  background-color:blue;
  color: white;
  border-radius: 50%;
  /* -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #888; */
}

.AvatarContainer {
  /* margin-right: 5px; */
  display: block;
  margin: 0 auto;
  padding: 2px;
  background: white;
  border-radius: 50%;
  border: 1px solid #999;
}

.Username {
  margin-left: 2px;
}