:import('../../colors.css') {
  yellow: yellow;
  orange: orange;
  darkOrange: darkOrange;
  blue: blue;
  green: green;
  lightBlue: lightBlue;
}

.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  color: #666;
}

.ModalTitle {
  font-size: 20px;
  padding-bottom: 12px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.Form {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 95%;
}

.Selected {
  margin: 10px;
  width: 500px !important;
}

.Dropdown {
  margin: 10px;
}

.MainModalContent {
  display: flex;
  flex-flow: column;
  width: 100%;
  flex-grow: 1;
  text-transform: none;
}

.Row {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
}

.ModalButton {
  flex-grow: 0;
  width: 50%;
}

.FormSection {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 20px;
  border-bottom: #ddd;
}

.Import {
  display: flex;
  flex-flow: column;
}

.RadioButtons {
  display: flex;
  justify-content: space-around;
  align-self: center;
  width: 100%;
  flex-grow: 1;
  align-items: center;
  font-size: 1.4em;
}

.PrivacyDesc {
  flex-grow: 2;
}
.Checkbox {
  padding: 12px;
  font-size: 1.4em;
}

.Submit {
  display: flex;
  justify-content: center;
  width: 100%;
}

/* .Plus {
  color: #999;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
  transition: .2s;
} */

.DateContainer {
  height: 150px;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.DatePicker {
  margin-top: 5px;
  width: 65%;
}

.LabelText {
  font-size: 26px;
  margin-bottom: 15px;
}

.Buttons {
  margin-top: 10px;
  /* flex-grow: 1; */
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

/* .Buttons:chil */

.Button {
  margin: 0 5px;
  /* color: white; */
  /* flex-grow: 1; */
  height: 100%;
}

.Plus {
  margin-left: 3px;
  margin-right: -5px;
  color: orange;
}

.BackIcon {
  position: absolute;
  left: 15px;
  top: 15px;
  font-size: 18px;
  color: #666;
  cursor: pointer;
  transition: 0.2s;
}

.BackIcon:hover {
  color: black;
}

.StepDisplayContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Step {
  height: 10px;
  width: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #666;
}

.CompletedStep {
  background: blue;
}

.Geogebra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UploadIcon {
  margin-top: 20px;
  font-size: 50px;
  color: lightBlue;
}

.OptionalHeader {
  font-style: italic;
  padding-left: 50px;
  margin-top: 10px;
}
