.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100px;
  list-style-type: none;
  height: 100%;
  transition: .2s ease-out;
  /* border: 1px solid green; */
}

.Link {
  padding: 9px;
  color: white;
  letter-spacing: .07em;
}

.Item:hover {
  color: white;
  background-color: #0078EC;
  text-decoration: none;
}

.Link:active{
  color: white;
  background-color: #0078EC;
}
