.Item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 100px;
  list-style-type: none;
  height: 100%;
  transition: .2;
  position: relative;
  max-width: 125px;
  /* border: 1px solid white; */
  margin: 0 10px;
  font-weight: 300;
}

.Link {
  color: white;
  letter-spacing: .07em;
}

/* .Item:hover {
  color: white;
  background-color: #0078EC;
  text-decoration: none;
}

.Link:active{
  color: white;
  background-color: #0078EC;
} */

.Item:after{
  content: '';
  position: absolute;
  width: 0; height: 2px;
  display: block;
  border-radius: 4px;
  margin-top: 25px;
  right: 0;
  background: white;
  transition: width .2s ease-in;
  /* -webkit-transition: width .2s; */
}

.Item:hover:after{
  width: 100%;
  left: 0;
  background: white;
}

@media screen and (max-width: 750px) {
  .Item {
    font-size: 14px;
  }
}

@media screen and (max-width: 550px) {
  .Item {
    font-size: 12px;
  }
}