:import('../../colors.css'){
  blue: blue;
}

.Edit {
  color: #999;
  cursor: pointer;
  transition: .2s;
}

.Edit:hover {
  color: blue;
}

.EditContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.EditLine {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  top: 3px;
}

.TextInput {
  order: 1;
  height: 30px;
  font-size: 14px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 0 5px;
  margin-top: -8px;
  min-width: 250px;
}

.TextArea {
  width: 100%;
  height: fit-content;
  font-size: 16px;
  padding: 5px;
  resize: none;
  margin-bottom: 10px;
  font-size: 14px;
}

.EditButtons {
  order: 2;
  display: flex;
  height: 22px;
  margin-top: -8px;
}

.EditButtons button {
  font-size: 10px;
  padding: 8px 15px;
}

.ToggleEdit {
  color: #999;
  cursor: pointer;
  position: relative;
  left: 15px;
  top: -1px;
  font-size: 16px;
}

.ToggleEdit:hover {
  color: blue;
}