:import('../../colors.css') {
  blue: blue;
  blueHover: blueHover;
  gray: backgroundGray;
  coldGray: coldGray;
  darkGray: darkGray;
  lightGray: lightGray;
  lightBorder: lightBorder;
  background: mainBackground;
  scrollBackground: scrollBackground;
  scrollBar: scrollBar;
  red: red;
  darkBorder: darkBorder;
  hoverBackground: hoverBackground2;
  lightShadow: lightestShadow;
}

.Container {
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  box-shadow: lightShadow;
}

.Title {
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid lightBorder;
  background-color: coldGray;
  border-radius: 3px 3px 0 0;
  color: darkGray;
  font-size: 17px;
  letter-spacing: 1.12px;
  cursor: pointer;
}

.Status {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.StatusText {
  font-size: 14px;
  display: inline;
  color: red;
  padding-left: 5px;
  padding-bottom: 2px;
  /*  ^ // HACKY! */
}

.Connected {
  color: #34a505;
}

.Disconnected {
  color: red;
}

.Settings {
  padding-left: 3px;
  /* color: darkGray; */
}

.Settings:hover {
  color: #222;
  transition: 0.2s;
}

.Hover {
  float: right;
}

.ChatScroll {
  flex-grow: 0;
  /* display: flex;
  flex-flow: column; */
  padding: 0 10px;
  width: 100%;
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  /* max-height: 100%; */
  flex: 0 1 100%;
}

.Collapsed {
  display: none;
}

.CollapsedContainer {
  height: 75px;
  border-radius: 3px;
  box-shadow: lightShadow;
}

.ChatScroll::-webkit-scrollbar {
  width: 0.5em;
  height: 0.09em;
  background-color: scrollBackground;
}

.ChatScroll::-webkit-scrollbar-thumb {
  background-color: scrollBar;
  border-radius: 15px;
}

.ChatInput {
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  width: 100%;
  background-color: #f8f8f9;
  border-radius: 0 0 3px 3px;
}

.Input {
  padding: 15px 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0 0 0 3px;
  font-size: 13px;
  z-index: 100;
  font-weight: 400;
  background-color: white;
}

.Input:focus {
  outline: none;
  background-color: rgb(250, 250, 250);
}

.Send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 40px;
  background: inherit;
  cursor: pointer;
  transition: 0.2s;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 0 0 2px 0;
}

.Send:hover {
  background: blueHover;
}

.Entry {
  display: flex;
  flex-flow: column;
  width: 100%;
  font-size: 15px;
  padding: 3px;
  /* width: 90%; */
  border: 2px solid transparent;
}

.Timestamp {
  font-style: italic;
  color: #999;
  font-size: 0.8em;
  align-self: flex-end;
  font-size: 12px;
  margin: 5px 0;
  text-align: left;
}

.VmtBotEntry {
  composes: Entry;
  font-size: 13px;
  color: #999;
}

.Point {
  z-index: 1500;
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
}

.Highlight {
  border: 2px solid blue;
}

.Reference {
  border: 2px dotted blueHover;
}

.EventBlock {
  display: flex;
  width: 95%;
}

.EventContainer {
  display: inline-block;
  margin: 1px;
  padding-bottom: 7px;
  margin-top: 0px;
}

.Event {
  display: flex;
  height: 7px;
  width: 7px;
  transition: 0.2s;
}

.Event:hover {
  background: blue !important;
}

.ExternalLink {
  margin-left: 3px;
  margin-right: -5px;
}

.MoreMenuOption {
  margin: 10px;
}

.NewMessages {
  z-index: 1;
  background-color: blueHover;
  color: white;
  font-size: 0.75em;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  border-radius: 10px;
}
