:import("../../colors.css") {
  blue: blue;
  blueHover: blueHover;
  gray: backgroundGray;
  background: mainBackground;
  scrollBackground: scrollBackground;
  scrollBar: scrollBar;
  red: red;
  darkBorder: darkBorder;
  hoverBackground: hoverBackground2;
  lightShadow: lightestShadow;
}

.Container {
  display: flex;
  flex-flow: column;
  background-color: white;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  box-shadow: lightShadow;
}

.Title {
  padding: 8px 0 8px 10px;
  border-bottom: 1px solid #ddd;
  background-color: rgb(245, 245, 245);
  border-radius: 3px 3px 0 0;
  color: black;
  font-size: 17px;
  letter-spacing: 1.12px;
  cursor: pointer;
}

.Status {
  float: right;
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.StatusText {
  font-size: 14px;
  display: inline;
  color: red;
  padding-left: 5px;
  padding-bottom: 2px;
  /*  ^ // HACKY! */
}

.Connected {
  color: #34a505;
}

.Disconnected {
  color: red;
}

.Settings {
  padding-left: 3px;
  color: #666;
}

.Settings:hover {
  color: #222;
  transition: 0.2s;
}

.Hover {
  float: right;
}

.ChatScroll {
  flex-grow: 0;
  width: 100%;
  overflow-y: scroll;
  /* max-height: 100%; */
  flex: 0 1 100%;
}

.Collapsed {
  display: none;
}

.CollapsedContainer {
  height: 75px;
  border-radius: 3px;
  box-shadow: lightShadow;
}

.ChatScroll::-webkit-scrollbar {
  width: 0.5em;
  height: 0.09em;
  background-color: scrollBackground;
}

.ChatScroll::-webkit-scrollbar-thumb {
  background-color: scrollBar;
  border-radius: 15px;
}

.ChatInput {
  height: 40px;
  display: flex;
  flex-shrink: 0;
  align-items: flex-end;
  width: 100%;
  background-color: #f8f8f9;
  border-radius: 0 0 3px 3px;
}

.Input {
  padding: 15px 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 0 0 0 3px;
  font-size: 13px;
  font-weight: 400;
  background-color: white;
}

.Input:focus {
  outline: none;
  background-color: rgb(250, 250, 250);
}

.Send {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 40px;
  background: inherit;
  cursor: pointer;
  transition: 0.2s;
  background-color: blue;
  color: white;
  font-size: 18px;
  border-radius: 0 0 2px 0;
}

.Send:hover {
  background: blueHover;
}

.Entry {
  display: flex;
  flex-flow: column;
  width: 100%;
  border: 4px solid transparent;
  padding: 0px 10px;
  font-size: 15px;
  /* width: 90%; */
  /* border: 1px solid red; */
}

.Timestamp {
  font-style: italic;
  color: #999;
  font-size: 0.8em;
  align-self: flex-end;
  font-size: 12px;
  margin: 5px 0;
  text-align: left;
}

.VmtBotEntry {
  display: flex;
  flex-flow: column;
  font-size: 13px;
  color: #999;
  /* padding: 1px; */
  padding: 0px 10px;
  border: 2px solid transparent;
}

.Point {
  z-index: 1500;
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
}

.Highlight {
  border: 2px solid blue;
}
