:import('../../colors.css'){
  blue: blue;
  gray: backgroundGray;
  background: mainBackground;
  scrollBackground: darkScroller;
  darkBorder: darkBorder;
  hoverBackground: hoverBackground2;
}
.Container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border: 1px solid #ddd;
  background-color: background;
  /* color: white; */
  /* box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28); */
}

.Title {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.ChatScroll {
  flex-grow: 2;
  width: 100%;
  overflow-y: scroll;
  padding: 10px;
}

.ChatScroll::-webkit-scrollbar {
  width: 0.5em;
  height: 0.09em;
  background-color: scrollBackground;
}

.ChatScroll::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 3px;
}

.ChatInput {
  height: 35px;
  display: flex;
  /* align-items: center; */
  border-top: 1px solid #ddd;
  width: 100%
}

.Input {
  padding: 5px;
  width: 100%;
  height: 35px;
  border: none !important;
  border-bottom: 1px solid blue;
}

.Send {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #ddd;
  width: 45px;
  height: 35px;
  background: inherit;
  cursor: pointer;
  transition: .2s;
}

.Send:hover {
  background: hoverBackground;
}

.Entry {
  display: flex;
  flex-flow: column;
  /* width: 90%; */
  /* border: 1px solid red; */
}

.Timestamp {
  font-style: italic;
  color: #999;
  font-size: .8em;
  align-self: flex-end;
}

