:import('../../colors.css') {
  blue: blue;
  lightBlue: lightBlue;
  orange: orange;
  gridBlue: gridBlue;
  darkOrange: darkOrange;
  red: red;
  lightRed: lightRed;
  lightGray: lightGray;
  darkGray: darkGray;
  lightestShadow: lightestShadow;
  lightShadow: lightShadow;
  newBoxShadow: newBoxShadow;
}

.Pending {
  /* background-color: white; */
  position: absolute;
  bottom: 38px;
  font-size: 13px;
  border: 1px solid lightBlue;
  justify-content: center;
  align-items: center;
  border: 1px solid#ddd;
  background: #eff3f6;
  border-radius: 4px;
  /* width: 90%; */
  padding: 2px 5px;
  max-height: 45px;
  height: auto;
  margin: 5px 7px;
  transition: 0.2s;
}

.dot1 {
  animation: visibility 2s linear infinite;
}
@keyframes visibility {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot2 {
  animation: visibility2 2s linear infinite;
}
@keyframes visibility2 {
  0% {
    opacity: 0;
  }
  21% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.dot3 {
  animation: visibility3 2s linear infinite;
}
@keyframes visibility3 {
  0% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  44% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
