.Event {
  box-sizing: content-box;
  position: absolute;
  width: 4px;
  height: 100%;
  cursor: pointer;
}

.Event:hover {
  background-color: blue;
}

.EventDetails {
  position: absolute;
  top: -60px;
  background-color: white;
  width: auto;
  padding: 10px;
  max-height: 50px;
  overflow: hidden;
  border-radius: 4px;
  /* width: 100px; */
}

/* .EventDetails:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
} */
