:import('../../colors.css') {
  green: green;
  lightShadow: lightShadow;
  darkShadow: darkShadow;
  backgroundGray: backgroundGray;
  navbarHeight: navbarHeight;
}
:root {
  --margin-top: 48px;
}
.Container {
  position: relative;
  width: 80%;
  max-width: 1100px;
  align-self: center;
}

.Header {
  padding-top: 10px;
  margin-botom: 5px;
  position: fixed;
  width: 80%;
  max-width: 1100px;
  z-index: 320;
  color: #444;
  background: #f8f8f8;
  box-shadow: 10px 10px 10px 2px #f8f8f8, -10px 0 10px 2px #f8f8f8;
}

.Title {
  font-size: 30px;
  text-align: center;
  border-bottom: none;
}

.ResourceOpts {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 25px;
}

.Search {
  height: 90px;
  font-size: 70px;
}

.Filter {
  display: flex;
  align-items: center;
}

.FilterIcon {
  font-size: 50px;
  color: #5e5e5e;
}

.FilterGroup {
  margin-left: 26px;
}

.List {
  margin-top: 310px;
  display: flex;
  flex-flow: column;
}

.LoadMore {
  align-self: center;
}
