:import("../../colors.css") {
  green: green;
  lightShadow: lightShadow;
  darkShadow: darkShadow;
  backgroundGray: backgroundGray;
  navBarHeight: navBarHeight;
}
:root {
  --margin-top: 48px;
}
.Container {
  margin-top: var(--margin-top);
  position: relative;
  width: 80%;
  max-width: 1100px;
  align-self: center;
}

.Title {
  font-size: 30px;
  text-align: center;
  border-bottom: none;
}

.ResourceOpts {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin: 25px 0;
}

.Search {
  height: 100px;
  font-size: 70px;
}

.List {
  margin-top: 20px;
}

.Selecting {
  position: fixed;
  top: 60px;
  width: 120px;
  text-align: center;
  padding: 4px 10px;
  z-index: 1100;
  box-shadow: lightShadow;
  border-radius: 0 0 9px 9px;
  background: green;
  color: white;
}

.SelectCount {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 2px;
  transition: 0.2s ease-in-out;
}

.SelectCountNone {
  background: backgroundGray;
  color: red;
}

.SelectCountPos {
  background: green;
  color: white;
}
