:import('../../../colors.css') {
  darkBlue: darkBlue;
  blue: blue;
  darkShadow: darkShadow;
  gridBlue: gridBlue;
  lightShadow: lightShadow;
  navbarHeight: navbarHeight;
}

.Nav {
  width: 100%;
  height: navbarHeight;
  /* background-image: linear-gradient(to top, #3a5ec9 10%, #001144 100%); */
  justify-content: center;
  z-index: 1000;
  border-top: 2px solid darkBlue;
  position: fixed;
  color: white;
  background: none;
  box-shadow: none;
  transition: color 1s, background 0.5s, box-shadow 0.5s;
}

.LightNav {
  composes: Nav;
  color: blue;
  border-top: 0px;
  background: rgb(255, 255, 255);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.TempWorkspaceNav {
  composes: Nav;
  position: relative;
}

/* .LightNav li a {
  color: blue;
} */

.GradientNav {
  /* this important tag only overrides the background: none in .Nav */
  /* background-image: linear-gradient(to top, blue %, darkBlue 100%) !important;
   */
  composes: Nav;
  position: relative;
  height: 60px;
  background: linear-gradient(to bottom, #001144, #0e2257);
  box-shadow: 0px 5px 20px 15px #0e2257;
}

.FixedGradientNav {
  composes: GradientNav;
  position: fixed;
}

.NavContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: 100%;
  max-width: 1700px;
  margin: 0 auto;
  /* border: 1px solid white; */
}

.LogoContainer {
  order: 1;
  flex: 0.2 0 auto;
  /* @TURN OFF FOR PROD */
  /* border: 1px dashed red; */
}

.Logo {
  font-size: 30px;
  height: 100%;
  margin-left: 8%;
  /* align-items: center; */
  font-weight: 400;
}

.LogoShort {
  height: 100%;
  align-items: center;
  font-size: 25px;
  font-weight: 700;
  display: none;
}

.NavListContainer {
  height: 100%;
  align-items: center;

  order: 2;
  flex: 0.8 0 auto;
  /* border: 1px solid red; */
}

.NavListContainer ul {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-flow: center;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

/* .NavListContainer ul li {
  display: flex;
  align-items: center;
  height: 100%;
  flex: 0.1 0 auto;
} */

@media screen and (max-width: 875px) {
  .LogoShort {
    display: block;
    margin-left: 25px;
  }
  .Logo {
    display: none;
  }
}
