:import('../../colors.css') {
  gridBlue: gridBlue;
  blue: blue;
  blueHover: blueHover;
  lightBlue: lightBlue;
  darkBlue: darkBlue;
}

.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  background: #f8f8f8;
  padding: 4px;
  border: 1px solid #999;
  border-radius: 4px;
}

.Graph {
  width: 100%;
  height: 42vh;
  display: center;
  justify-content: center;
  overflow: visible;
}

.svgContainer {
  overflow: visible;
}

.line {
  fill: transparent;
  /* stroke: blue; */
  stroke-width: 2px;
  /* transform: translate(-100, -10); */
  /* stroke-dasharray: 10000;
  stroke-dashoffset: 10000; */
  animation: dash 10s forwards;
}

.Filters {
  display: flex;
}

.Options {
  display: flex;
}

.UserOption {
  display: flex;
  border: 1px solid red;
}

/* @keyframes dash {
  from {
    stroke-dashoffset: 10000;
    fill: transparent;
  }
  to {
    stroke-dashoffset: 0;
    fill: gridBlue;
  }
} */
