:import('../../colors.css'){
  lightBlue: lightBlue;
  blue: blue;
}

:root {
  --side-panel-width: 280px;
}

.Container {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  align-self: center;
  /* border-top: 1px solid #75b7f6; */
  padding: 0 40px;
  transition: .2s;
}

.BreadCrumbs {
  margin-bottom: 15px;
  width: 100%;
}

.Main {
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
  /* border: 1px solid blue; */
}


.SidePanel {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 30px;
  padding-right: 30px;
  width: var(--side-panel-width);
  border-right: 1px solid #ddd;
  letter-spacing: 0.06em;
  height: 98%;
}


.Tabs {
  /* border: 1px solid orange; */
}


.Content {
  display: flex;
  flex-flow: column;
  width: calc(100% - var(--side-panel-width))
  /* flex-grow: 3; */
  /* max-width: 850px; */
  /* border: 2px solid pink; */
}

.MainContent {
  /* border: 1px solid blue; */
  padding-top: 30px;
}


.Trash {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 3em;
}

.CreateContainer {

}

.CreateForParticipant:hover {
  color: lightBlue;
}

@media screen and (max-width: 1100px) {
  .Container {
    align-self: flex-start
  }
}