.Container {
  display: flex;
  flex-flow: column;
  position: relative;
  background-color: #fdfdfd;
  width: 80%;
  align-self: center;
  border: 1px solid #ddd;
  border-top: 1px solid #75b7f6;
  min-height: calc(100vh - 220px);
  margin: 50px auto;
  padding: 0 20px 20px 20px;
}

.Main {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  /* box-shadow: 11px 20px 61px 20px rgba(248,248,248,1); */
}

.BreadCrumbs {
  /* border: 1px solid purple; */
  margin-bottom: 20px;
}


.SidePanel {
  /* border: 1px solid red; */
  width: 250px;
  margin-right: 50px;
}

.Tabs {
  /* border: 1px solid orange; */
}

.Image {
  height: 250px;
  width: 250px;
  border-radius: 7px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.CourseName {
  font-size: 1.2em;
}

.Content {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  max-width: 850px;
}

.MainContent {
  /* border: 1px solid blue; */
  padding-top: 30px;
}


.Trash {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 3em;
}

.CreateContainer {

}
