:import('../../colors.css'){
  lightBlue: lightBlue;
}

.Container {
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 80%;
  height: calc(100vh - 50px);
  align-self: center;
  border-top: 1px solid #75b7f6;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
}

.BreadCrumbs {
  margin-bottom: 20px;
  width: 100%;
  min-width: 1000px;
  align-self: flex-start;
}

.Main {
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
}


.SidePanel {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 30px;
  padding-right: 30px;
  width: 280px;
  border-right: 1px solid #ddd;
  letter-spacing: 0.08em;
}


.Tabs {
  /* border: 1px solid orange; */
}

.Image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 7px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.Details {
  margin-top: 5px;
}

.CourseName {
  font-size: 1.2em;
}

.Content {
  display: flex;
  flex-flow: column;
  flex-grow: 3;
  /* max-width: 850px; */
  /* border: 2px solid pink; */
}

.MainContent {
  /* border: 1px solid blue; */
  padding-top: 30px;
}


.Trash {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 3em;
}

.CreateContainer {

}

.spMain {
  font-size: 25px;
  font-weight: 900;
}

.spSecondary {
  font-size: 20px;
  color: #666;
}

.spAdditional {
  border-top: 1px solid #ddd;
}

.CreateForParticipant {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #666;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

.CreateForParticipant:hover {
  color: lightBlue;
}