:import('../../colors.css') {
  lightBlue: lightBlue;
  blue: blue;
  navbarHeight: navbarHeight;
}

:root {
  --side-panel-width: 280px;
}

.Container {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: navbarHeight;
  display: flex;
  flex-flow: column;
  align-content: center;
  width: 100%;
  height: calc(100vh - 60px);
  align-self: center;
  /* border-top: 1px solid #75b7f6; */
  padding: 0 40px;
  transition: 0.2s;
}

.BreadCrumbs {
  margin-bottom: 15px;
  width: 100%;
}

.Main {
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-flow: row;
  padding: 0 10px;
  transition: 0.2s;
}

.SidePanel {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 30px;
  padding-right: 30px;
  width: var(--side-panel-width);
  border-right: 1px solid #ddd;
  height: 98%;
  transition: 0.2s;
}

.Tabs {
  /* border: 1px solid orange; */
}

.Content {
  display: flex;
  flex-flow: column;
  width: calc(100% - var(--side-panel-width));
  /* flex-grow: 3; */
  /* max-width: 850px; */
}

.MainContent {
  padding-top: 30px;
  height: 100%;
}

.Trash {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 3em;
}

.CreateContainer {
}

.CreateForParticipant:hover {
  color: lightBlue;
}

@media screen and (max-width: 1100px) {
  .Container {
    align-self: flex-start;
  }
}

@media screen and (max-width: 900px) {
  .SidePanel {
    margin-right: 10px;
    padding-right: 10px;
    width: calc(var(--side-panel-width) * 0.75);
  }

  .Container {
    padding: 0 10px;
  }

  .Content {
    width: calc(100% - var(--side-panel-width) * 0.75);
    /* flex-grow: 3; */
    /* max-width: 850px; */
  }
}

@media screen and (max-width: 400px) {
  .SidePanel {
    height: auto;
    width: 100%;
    min-width: 250px;
  }
  .Main {
    flex-flow: column;
  }

  .Content {
    width: 100%;
    min-width: 250px;
  }
}
