.Container {
  display: flex;
  flex-flow: column;
  align-content: center;
  /* position: relative; */
  /* background-color: #fdfdfd; */
  width: 80%;
  height: calc(100vh - 50px);
  /* min-width: 900px; */
  align-self: center;
  /* border: 1px solid #ddd; */
  border-top: 1px solid #75b7f6;
  /* min-height: calc(100vh - 220px); */
  /* margin: 50px auto;   */
  padding: 0 20px 20px 20px;
  /* border: 2px solid yellow; */
}

.BreadCrumbs {
  /* border: 1px solid purple; */
  margin-bottom: 20px;
  width: 100%;
  min-width: 1000px;
  align-self: flex-start;
}

.Main {
  /* border: 1px solid green; */
  width: 100%;
  height: 100%;
  flex-grow: 2;
  display: flex;
  /* box-shadow: 11px 20px 61px 20px rgba(248,248,248,1); */
}


.SidePanel {
  /* border: 1px solid coral; */
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  /* flex-grow: 1; */
  margin-right: 30px;
  padding-right: 30px;
  width: 280px;
  border-right: 1px solid #ddd
}


.Tabs {
  /* border: 1px solid orange; */
}

.Image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 7px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.Details {
  margin-top: 5px;
}

.CourseName {
  font-size: 1.2em;
}

.Content {
  display: flex;
  flex-flow: column;
  flex-grow: 3;
  max-width: 850px;
  /* border: 2px solid pink; */
}

.MainContent {
  /* border: 1px solid blue; */
  padding-top: 30px;
}


.Trash {
  position: absolute;
  bottom: 30px;
  right: 30px;
  font-size: 3em;
}

.CreateContainer {

}
