:import('../../colors.css') {
  blue: blue;
  darkGrey: darkGrey;
}

.ClockContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  text-align: center;
  padding: 0 5px;
}

.StartTime {
  font-weight: 700;
  font-size: 1.1em;
  flex: 1 1 auto;
}

/* .CenterTime {
  order: 2;
  flex: 1 1 auto;
  color: darkGrey;
  font-size: 0.9em;
} */

.EndTime {
  font-weight: 700;
  flex: 1 1 auto;
  font-size: 1.1em;
}

.AbsClocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.RelTime {
  order: 1;
  margin-top: -30px;
}

.AbsTime {
}
