:import('../../colors.css') {
  blue: blue;
  darkGrey: darkGrey;
  lightestShadow: lightestShadow;
}

.Slider {
  display: flex;
  align-items: center;
  position: relative;
  /* flex-grow: 1; */
  height: 4px;
  width: 95%;
  background-color: #666;
  border: 1px solid #bbb;
  border-style: inset;
  border-radius: 15px;
  align-self: center;
  overflow-y: visible;
}

.ProgressMarker {
  border: 3px solid blue;
  background-color: blue;
  position: absolute;
  box-shadow: lightestShadow;
  left: -4px;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  cursor: pointer;
}
