.Container {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #f9f8f7;
  padding: 30px;
  border: 1px solid #d8d9da;
  border-radius: 3px;
  box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28);
  transition: all .2s ease-out;
  width: 100%;
}

.Title {
  font-size: 1.6em;
  letter-spacing: .06em;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.Content {
  display: flex;
  flex-flow: column;
  width: 90%;
}

.Center {align-items: center;}
.Left {align-items: flex-start;}
.Right {align-items: flex-end;}

.Lock {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #666;   
}

.Notification {
  position: absolute;
  top: -10px;
  right: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
}
