.Container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 500px;
  background-color: #f9f8f7;
  padding: 30px;
  border: 1px solid #d8d9da;
  border-radius: 3px;
  box-shadow: -2px 10px 14px -2px rgba(0,0,0,0.28);
}

.Title {
  font-size: 1.6em;
  letter-spacing: .06em;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
}
