:import('../../../colors.css') {
  blue: blue;
  red: red;
  green: green;
  lightShadow: lightShadow;
  lightestShadow: lightestShadow;
}

.Container {
  /* min-width: 100%; */
  /* min-width: 32vw; */
  position: relative;
  display: flex;
  padding: 5px;
  background: white;
  border: 1px solid #d8d9da;
  box-shadow: lightestShadow;
  transition: all 0.2s;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 558px;
}

.SubContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.TopBanner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.BannerLeft {
  display: flex;
  align-items: center;
  width: 65%;
}

.TitleIcons {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.Container:hover {
  box-shadow: lightShadow;
}

.Title,
.TitleLink {
  /* margin-right: 10px; */
  /* max-width: 246px; */
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  color: blue;
  overflow: hidden;
  text-overflow: ellipsis;
  letter-spacing: 0.5px;
  display: block;
  padding: 8px 20px 8px 16px;
}

.Expand {
  color: black;
  padding: 5px;
  z-index: 300;
  border-radius: 50%;
  display: flex;
  align-items: center;
  transition: 0.2s;
  cursor: pointer;
}

.Expand:hover {
  background: #ddd;
}

.Content {
  flex-grow: 4;
  flex-flow: column;
  overflow-y: auto;
}

.Expanded {
  margin-top: 5px;
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(11rem, 100%), 1fr));
  grid-gap: 4px 1.5rem;
}

.ExpandedItemContainer {
  /* width: 100%; */
}

.DetailsTitle {
  font-weight: 500;
  margin-right: 5px;
  /* width: 90px; */
  display: inline-block;
}

.Facilitators {
  display: flex;
  flex-wrap: wrap;
}

.EntryCode {
}

.FacilitatorsList {
  margin-right: 5px;
}

.Icons {
  display: flex;
  max-width: 4rem;
  justify-content: space-around;
  align-items: center;
  /* margin-right: 10px; */
  color: #666;
}

.Notification {
  position: relative;
  top: 2px;
  left: 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: red;
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 14px;
  font-weight: 400;
}

.NotificationCount {
  position: relative;
  top: 3px;
}

.TabTypes {
  text-transform: capitalize;
}

.TitleLink:hover {
  cursor: pointer;
  font-weight: 600;
}
