.LoginContainer {
  width: 66%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.ErrorMsg {
  color: red;
  height: 20px;
  text-align: center;
}

.Form {
  width: 90%;
}

.Loading {
  position: fixed;
  margin: auto;
  z-index: 1000;
}
