.CourseRoomsContainer {
  display: flex;
  flex-direction: column;
}

.CreateRoom {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 14px;
  margin-bottom: 30px;
}

.Filters {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.Filters > * {
  margin-right: 12px;
}

.FilterOpts {
  padding-left: 12px;
  display: flex;
  /* justify-content: space-between; */
  /* flex: 1; */
}

.FilterOpts > * {
  margin-right: 8px;
}

.SortUI {
  width: 573px;
}

.RoomsListContainer {
  width: 1000px;
}
