:import('../../../colors.css') {
  lightestShadow: lightestShadow;
  lightBorder: lightBorder;
  blue: blue;
  coldGray: coldGray;
  darkGray: darkGray;
}

.Container {
  display: flex;
  height: 98%;
  flex-flow: column;
  justify-content: space-between;
  font-family: inherit;
  transition: 0.2s;
}

.Top {
  display: flex;
  flex-flow: column;
  width: 100%;
  margin-top: 10px;
}

.Bottom {
  padding: 20px;
}

.Details {
  margin-top: 5px;
}

.spMain {
  font-size: 26px;
  font-weight: 600;
  margin: 10px 0 5px 0;
  text-align: center;
}

.spSecondary {
  font-size: 22px;
  color: #666;
  margin-bottom: 15px;
  font-weight: 300;
  text-align: center;
}

.spAdditional {  
  border-top: 1px solid lightBorder;
  border-bottom: 1px solid lightBorder;
}

.spButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  /* border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd; */
}

.Edit {
  text-align: center;
  background-color: coldGray;
  color: darkGray;
  cursor: pointer;
  border: 1px solid lightBorder;
  padding: 12px 0;
  margin-top: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.Edit:hover {
  border: 1px solid rgb(177, 177, 177);
  background-color: #e4e6e8;
}

.EditActive {
  composes: Edit;
  border: 1px solid rgb(177, 177, 177);
  background-color: #e4e6e8;
}
.Edit span {
  text-align: center;
}

.Edit span i {
  position: relative;
  left: 5px;
  top: -1px;
}

.Edit:first-child {
  color: inherit;
  transition: 0.2s;
}

.Edit:first-child:hover {
  color: blue;
}

.CreateForParticipant {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #666;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.Image {
  display: block;
  margin: 0 auto;
  border-radius: 7px;
  margin-bottom: 5px;
  box-shadow: lightestShadow;
  border: 1px solid #ddd;
  background: white;
  width: 50%;
}

.Details {
  margin-top: 5px;
}

.CourseName {
  font-size: 1.2em;
}

.KeyContainer {
  margin: 10px 0;
  padding: 10px 2px;
}

.KeyName {
  font-weight: 600;
  text-align: left;
  text-transform: capitalize;
  /* border: 1px solid red; */
}

.KeyValue {
  font-weight: 400;
  float: right;
  color: #666;
  /* text-transform: capitalize; */
  text-align: right;
  /* max-width: 70%; */
  /* border: 1px solid blue; */
}

.ToggleView i {
  cursor: pointer;
  margin-left: 5px;
}

@media screen and (max-width: 900px) {
  .Image {
    width: 175px;
  }
}
@media screen and (max-width: 400px) {
  .spAdditional {
    display: none;
  }
  .spBottom {
    height: 50px;
  }
}
