:import('../../../colors.css') {
  lightestShadow: lightestShadow;
  blue: blue;
}

.Top {
  display: flex;
  flex-flow: column;
  align-itmes: flext-stare;
  width: 100%;

}

.Details {
  margin-top: 5px;
}

.spMain {
  font-size: 25px;
  font-weight: 900;
}

.spSecondary {
  font-size: 20px;
  color: #666;
}

.spAdditional {
  padding: 3px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.spButtons {
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.Edit {
  display: flex;
  justify-content: space-between;
  color: #999;
  cursor: pointer;
  padding: 9px 0;
  height: 45px;
}

.Edit:first-child {
  color: inherit;
  transition: .2s;
}

.Edit:first-child:hover {
  color: blue;
}

.CreateForParticipant {
  width: 100%;
  text-align: center;
  font-style: italic;
  color: #666;
  font-size: 15px;
  cursor: pointer;
  transition: .2s;
}

.Image {
  align-self: center;
  border-radius: 7px;
  margin-bottom: 5px;
  box-shadow: lightestShadow;
  border: 1px solid #ddd;
}

.Details {
  margin-top: 5px;
}

.CourseName {
  font-size: 1.2em;
}
