/* @value colors: '../../colors.css'
@value blue from colors; */

:import('../../colors.css') {
  gridBlue: gridBlue;
  darkBlue: darkBlue;
  blue: blue;
  orange: orange;
  red: red;
  lightRed: lightRed;
  darkShadow: darkShadow;
  lightShadow: lightShadow;
  maxWidth: maxWidth;
}

.Main {
  z-index: 100;
  width: 100%;
  /* border: 2px solid red; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Top {
  margin-top: 200px;
  color: white;
  font-size: 24px;
  text-align: center;
  transition: 0.2s;
  height: 50vh;
}

@keyframes bounce_arrow {
  0% {
    bottom: 0px;
  }
  70% {
    bottom: 0px;
  }
  80% {
    bottom: -20px;
  }
  85% {
    bottom: 10px;
  }
  100% {
    bottom: 0px;
  }
}

.WorkspaceButton {
  height: 70px;
}

.Down {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  height: 20vh;
  font-size: 150px;
  background: -webkit-linear-gradient(#a4deff, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bounce_arrow 3s infinite;
  /* font-weight:  */
}

.Options {
  /* background-color: #f9f9f9; */
  margin-top: 80px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Subtitle {
  font-size: 2em;
  margin-bottom: 30px;
}

.Geogebra {
  /* margin-top: 61px; */
  display: flex;
  align-items: center;
}

.LongerBlurb {
  font-size: 20px;
}

.Blurb {
  padding: 0 20px;
  margin-bottom: 20px;
  font-size: 30px;
}

.GgbImage {
  height: 300px;
}

.Desmos {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}

.DesmosImage {
  height: 250px;
  margin: 20px;
  border-radius: 20px;
}

.Content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Features {
  max-width: maxWidth;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Feature {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 20px;
  height: 250px;
  width: 220px;
  background: white;
  border-radius: 4px;
  box-shadow: lightShadow;
  text-align: center;
}

.FTitle {
  width: 100%;
}

.FIcon {
  font-size: 50px;
}

.Examples {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: maxWidth;
  width: 100%;
  margin-bottom: 20px;
}

.Error {
  color: red;
  background-color: lightRed;
  padding: 4px;
  border: 1px solid red;
  z-index: 1000;
}
