/* @value colors: '../../colors.css'
@value blue from colors; */

:import('../../colors.css') {
  gridBlue: gridBlue;
  darkBlue: darkBlue;
  blue: blue;
  orange: orange;
  gray: backgroundGray;
  backgroundGray: backgroundGray;
  darkShadow: darkShadow;
  lightShadow: lightShadow;
  maxWidth: maxWidth;
}

.Main {
  z-index: 100;
  width: 100%;
  /* border: 2px solid red; */
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.Top {
  margin-top: 23vh;
  color: white;
  font-size: 24px; 
  text-align: center;
  transition: .2s;
  height: 42vh;
}

@keyframes bounce_arrow {
  0% {bottom: 0px;}
  70%{ bottom: 0px;}
  80% {bottom: -20px;}
  85% {bottom: 10px;}
  100% {bottom: 0px;}
}

.BackgroundExtension {
  position: absolute;
  top: 99%;
  bottom: 0;
  left: 0;
  right: 0;
  /* overflow-x: hidden; */
  background-size: 25px 25px;
  background-image: linear-gradient(to right, gridBlue .5px, transparent 1px), linear-gradient(to bottom, gridBlue .5px, transparent 1px) !important;
  z-index: 20;
  height: 5vh
}

.Ex2 {
  position: absolute;
  top: 99%;
  bottom: 0;
  left: 0;
  width: 7%;
  background-size: 25px 25px;
  background-image: linear-gradient(to right, gridBlue .5px, transparent 1px), linear-gradient(to bottom, gridBlue .5px, transparent 1px) !important;
  z-index: 20;
  height: 15vh
}

.Ex3 {
  position: absolute;
  top: 99%;
  bottom: 0;
  left: 0;
  width: 14%;
  background-size: 50px 50px;
  background-image: linear-gradient(to right, gridBlue .5px, transparent 1px), linear-gradient(to bottom, gridBlue .5px, transparent 1px) !important;
  z-index: 20;
  height: 8vh
}

.Ex4 {
  position: absolute;
  top: 99%;
  bottom: 0;
  left: 0;
  width: 3%;
  background-size: 25px 25px;
  background-image: linear-gradient(to right, gridBlue .5px, transparent 1px), linear-gradient(to bottom, gridBlue .5px, transparent 1px) !important;
  z-index: 20;
  height: 25vh
}

.Ex5 {
  position: absolute;
  top: 109%;
  bottom: 0;
  right: 150px;
  /* width: 14%; */
  background-size: 50px 50px;
  background-image: linear-gradient(to right, gridBlue .5px, transparent 1px), linear-gradient(to bottom, gridBlue .5px, transparent 1px) !important;
  z-index: 20;
  height: 8vh
} 
.Down {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  height: 20vh;
  font-size: 150px;
  background: -webkit-linear-gradient(#a4deff, blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: bounce_arrow 3s infinite;
  /* font-weight:  */
}

.Options {
  /* background-color: #f9f9f9; */
  margin-top: 30px;
  width: 90%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Subtitle {
  font-size: 2em;
  margin-bottom: 30px;
}

.Geogebra {
  /* margin-top: 61px; */
  display: flex;
  align-items: center;
}

.LongerBlurb {
  font-size: 20px;
}

.GgbImage {
  height: 300px;
}


.Desmos {
  display: flex;
  align-items: center;
  flex-flow: row-reverse;
}

.DesmosImage {
  height: 250px;
  margin: 20px;
  border-radius: 20px;
}

.Content {
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Features {
  max-width: maxWidth;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Feature {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  padding: 20px;
  height: 250px;
  width: 220px;
  background: white;
  border-radius: 4px;
  box-shadow: lightShadow;
  text-align: center;
}

.FTitle {
  width: 100%;
}

.FIcon {
  font-size: 50px;
}

.Examples {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: maxWidth;
  width: 100%;
  margin-bottom: 20px;
}
