/* @value colors: '../../colors.css'
@value blue from colors; */

:import('../../colors.css') {
  blue: blue;
  backgroundGray: backgroundGray;
  darkShadow: darkShadow;
}

.Banner {
  position: relative;
  width: 100%;
  height: 350px;
  justify-content: center;
  align-items: center;
}

.Banner::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 5px;
  left: 0;
  filter:blur(5px) brightness(150%) grayscale(20%);
  background: url('./Picture-5.jpg');
  background-position: 0% 20%;
  background-size: cover;

}

.GetStarted {
  position: relative;
  width: 400px;
  height: 200px;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
  padding: 15px;
  border-radius: 4px;
  text-align: center;
  box-shadow: darkShadow;
  background-color: backgroundGray;
  color: blue;
  filter: grayscale(0);
}
