@value colors: '../../../colors.css';
@value blue from colors;

.Container {
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: auto;
  padding: 20px;
}

.Title {
  font-size: 26px;
  margin-bottom: 15px;
}

.Radios {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 30px;
}

.SubContainer {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.ParticipantList {
  margin: 20px 0 10px 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  overflow-y: scroll;
  background: #f8f8f8;
  border: 1px solid #ddd;
  padding: 5px;
  width: 100%;
  min-height: 200px;
}

.Participant {
  color: black;
  padding: 7px;
  width: 100%;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.Participant:hover {
  color: #999;
}

.Buttons {
  display: flex;
  flex-grow: 0;
  justify-content: center;
}
.Button {
  bottom: 20px;
}

.Selected {
  color: blue;
}

.EvenParticipant {
  background-color: #ddd;
}

.Table {
  vertical-align: middle;
}

.Error {
  color: red;
  height: 20px;
}

.roomsList {
  margin: 0px 2px;
}
