:import('../../../colors.css'){
    blue: blue;
  }
  .Edit {
    color: #999;
    cursor: pointer;
    transition: .2s;
  }
  
  .Edit:hover {
    color: blue;
  }
  
  .Instructions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  .InstructionsHeader {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  textarea {
    width: 100%;
    height: 300px;
    padding: 5px;
  }
  
  .EditButtons {
    display: flex;
  }
  
  .AssignContainer {
    display: flex;
    align-items: center;
  }
  
  .NewAssignmentsContainer {
    display: flex;
    align-items: center;
    margin-right: 5rem;
  }
  
  .EditAssignmentsContainer {
    display: flex;
    align-items: center;
  }
  
  .AssignText {
    font-weight: 600;
    margin-right: 1rem;
  }
  
  .Select { 
    min-width: 285px;
    z-index: 300;
  }
  
  .Instructions {
    background-color: white;
    border-radius: 50%;
    margin: 5px 5px;
    position: relative;
  }
  
  .TooltipContent {
    display: none;
    position: absolute;
    margin-top: 1.1rem;
    padding: 10px;
    /* left: auto;
    right: 65px; */
    z-index: 1000;
    box-shadow: lightShadow;
    background: #2d91f2;
    color: white;
    border: 2px solid #ddd;
    min-width: 250px;
    /* width: max-content; */
    max-width: 85%;
    transition: 0.2s;
  }
  
  .Instructions:hover .TooltipContent {
    display: flex;
    animation: showDropdown 0.2s;
  }
  
  .QuestionMark {
    font-size: 18px;
  }