body {
    background-color: #eee;
  }
  
  h3 {
    margin: 0 auto;
    text-align: center;
  }
  
  #about p {
      -webkit-column-break-inside: avoid;
      break-inside: avoid-column;
      page-break-inside:avoid;
  }
  
  .lib-about-div {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
      column-gap: 3rem;
      margin: 0;
  }
  
  /* #toolCollection {
      width: 59.9rem;
      height: 20.375rem;
      padding: 0;
      padding-left: 0.5rem;
      margin:0;
      border: 1px solid lightgray;
      border-collapse: collapse;
      overflow-y: auto;
      resize: both;
  }
  
  #toolTable {
      box-sizing: border-box;
      clear: both;
      border-collapse: collapse;
      font-family: sans-serif;
      text-align: center;
      font-size: 0.8rem;
      width: 100%;
      margin-top: 1.5rem;
      margin-left: -1px;
  } */

  .toolItem {
    height: 6rem;
  }
  
  /* .toolItem {
      display: inline-block;
      float: left;
      height: 4.5rem;	/* Use 5 and 6.8 for close to full size, or 4 and 5.5 for small boxes 
      width: 6.2rem;
      padding: .5rem;
      padding-top: 1rem;
      border: solid black;
      border-color: black LightGray;
      border-width: 0.25rem 0.01rem;
      border-collapse: collapse;
      vertical-align: middle;
      text-align: center;
      margin: -0.125rem 0;
  } 
*/
  
  /* .firstToolItem {	/* borders are collapsed. Need to adjust first & last of a group to be same width as other cells 
      border-left: 0.25rem solid black;
      margin-left: -0.125rem;	/* shift border 1/2 the border width to the left 
      padding-left: 0.4375rem;	/* reduce the padding to compensate 
  }
  
  .lastToolItem {
      border-right: 0.25rem solid black;
      margin-right: -0.125rem;
      padding-right: 0.4375rem;
  } */
      
  .toolItem img {
      height: 80%;
  }
  
  .debug {
    display: none;
  }
  
  #sizePane {
    padding: 5px 10px;  
  }
  
  #sizePane label {
      font-family: sans-serif;
      width: 3rem;
      float: left;
  }
  
  .uLeftPane {
      width: 9.5rem;
      float: left;
    text-align: left;
    font-family: sans-serif;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .uLeftSub {
    position: relative;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #fff;
    padding: 0.5rem;
    line-height: 1.5rem;
  }
  
  .uLeftSub input {
    line-height: 1.2rem;
    margin-bottom: 4px;
  }
  
  #uControls {
      position:fixed;
      width: 8rem;
      height: 100%;
      top: 0;
      left: 0;
    margin: 0.5rem;
  }
  
  #uContent {	/* The portion of the screen to the right of the uControls */
      margin-left: 9rem;
    background-color: #fff;
  }
  
  #uSketchList {
      padding: 0 0.5rem;
      cursor: move;
  }
  
  #uSketchList li {
      cursor:move;
      display:block;
      padding:5px;
      font-family: sans-serif;
      font-size: 0.8rem;
      font-weight: 500;
      width: inherit;
      max-width: inherit;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
  }
  
  .newPageButton {
      margin:4px 4px 0px 4px;
      font-size: 0.85rem;
      background-color: #ddf;
      float:right;
      cursor: pointer;
  }
  
  #uToolList {
  padding-left: 0;
  cursor: move;
  } 
  
   #uToolList li {
  display:block;
  padding: 2px 0px;
  font-family: sans-serif;
  font-weight: 500;
  width: inherit;
  max-width: inherit;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  }
  
  .uDropDown {
    position: relative;
    display: inline-block;
  }
  
  #uPrefDiv {
    display: none;
    position: absolute;
    background-color: #f8f8f8;
    min-width: 160px;
    border: 2px solid black;
    z-index: 1;
    width: 250px;
    margin-left: -9px;
  }
  
  #uPrefList {
    padding-left: 8px;
    margin: 0;
  }
  
  #uPrefList li {
    line-height: 18px;
    list-style: none;
    padding-bottom: 5px;
  }
  
  .uOutline {
  border: 0.15rem solid blue;
  }
  
  .uTrashIcon {
  height: 2rem;
  margin-top: 0.5rem;
  background-image: url("./trash.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
  }
  
  li#clone {
      font-weight:600;
      font-size: 1.5rem;
      padding: 0.4rem;
      margin: 0 auto;
  }
  
  .uTitle {
   text-align:center;
   font-family: sans-serif;
   padding-bottom: 0.5rem;
   font-size: 1.5rem;
  }
  
  .uTitleButton {
  font-size: 1rem;
  }
  
  .uAbout {
  margin: 0 auto;
  margin-bottom: 1rem;	
  border: 1px solid black;
  padding: 1rem;
  padding-bottom: 1rem;
  display:none;
  position: relative;
  max-width:800px;
  font-family: serif;
  background-color: #fff;
  }
  
  .visible {
      display: block;
  }
  .uAboutClose {
  position:absolute;
  margin-top: -5px;
  top: 0;
  left: 96%;
  }
  
  .uAbout .firstPara {
  margin-top: 0;
  }
  
  .uClear {
  clear: both;
  }
  
  .uSizeButton {
  width: 3rem;
  }
  
  p.uContainerText {
  font-size: 1rem;
  }
  
  p.fileName {
      display: inline-block;
      padding-left: 1rem;
      padding-top: 0.1rem;
    margin: 3px 0px;
      font-family: sans-serif;
      font-size: 1rem;
  }
  
  .uLibDirections {
  float: left;
  font-family: serif;
  }
  
  .uLibButtons {
  float: right;
  }
  
  .sketch_container {
      margin-bottom: 1rem;
      margin-right: 1rem;
  }
  
  #utilPrompt {
    display: block
  }
  
  #libFileName {
    display: none;
  }