:import('../../colors.css') {
    blue: blue;
    blueHover: blueHover;
    gray: backgroundGray;
    coldGray: coldGray;
    darkGray: darkGray;
    lightGray: lightGray;
    lightBorder: lightBorder;
    background: mainBackground;
    scrollBackground: scrollBackground;
    scrollBar: scrollBar;
    red: red;
    darkBorder: darkBorder;
    hoverBackground: hoverBackground2;
    lightShadow: lightestShadow;
  }
  
  .Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    text-align: left; 
    height: 90vh;
    }
    
  .Thumbnails {
    width: 75%;
    min-width: 50vw;
    overflow: scroll;
    margin-right: 10px;
  }

  .Aside {
    /* display: flex;
    flex-direction: column; */
  }

  .ChatSection {
    /* display: flex;
    flex-direction: column; */
  }
  
  .Chat {
    overflow-y: scroll;
    height: 50vh;
    border-radius: 3px;
    box-shadow: lightShadow;
  }

  .AttendanceSection {
    border-radius: 3px;
    box-shadow: lightShadow;
    overflow-y: scroll;
    height: 30vh;
  }

  
  .Title {
    padding: 8px 0;
    border-bottom: 1px solid lightBorder;
    background-color: coldGray;
    border-radius: 3px 3px 0 0;
    color: darkGray;
    font-size: 17px;
    letter-spacing: 1.12px;
    cursor: pointer;
  }
  