.Wrapper {
  width: 300px;
  border: 2px solid #bbb;
  border-radius: 3px;
  cursor: pointer;
  transition: height .2s;
  margin-bottom: 5px;
}

.Dropdown > div {
  padding: 8px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5px;
  color: #2D91F2;
}

.ListItem {
  color: black
}

.ErrorItem {
  color: #666;
  cursor: not-allowed;
}
.ListItemSelected {
  color: #2D91F2;
}
.ListItem:hover {
  color: #2D91F2;
}

.Background1 {
  background-color: #ddd;
}

.Background2 {
  background-color: white;
}
.Open {
  display: flex;
  flex-flow: column;
  height: 100%;
  /* max-height: 400px; */
  transition: height .2s;
  overflow-y: scroll;
}

.Close {
  height: 0px;
  transition: height .2s;
}

.Dropdown {
  overflow-y: hidden;
}
