.Log {
  width: 100%;
  background: rgb(50, 51, 58);
  flex-grow: 2;
  height: 100%;
  overflow-y: scroll;
  transition: .2s;
}

.Entry {
  height: 100px;
  padding: 10px 30px;
  /* border: 1px solid blue; */
}

.Log::-webkit-scrollbar {
  width: 0.5em;
  height: 0.09em;
  background-color: #eee;
}

.Log::-webkit-scrollbar-thumb {
  background-color: #2D91F2;
  border-radius: 3px;
}
