:import('../../colors.css'){
  lightestShadow: lightestShadow;
  blue: blue;
}

.Buttons {
  height: 50px;
}

.Button {
  font-size: 1.4em;
}

.StateImage {
  box-shadow: lightestShadow;
  height: 400px;
}

.Edit {
  color: #999;
  cursor: pointer;
  transition: .2s;
}

.Edit:hover {
  color: blue;
}

.Instructions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.TextArea {
  width: 100%;
  height: 300px;
  font-size: 20px;
  padding: 5px;
}

.EditButtons {
  display: flex;
}