.Main {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
}

.Image {
  width: 50%;
  margin-top: 50px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.Banner{letter-spacing: .1em;}

.Section {
  display: flex;
  flex-flow: column;
  margin-top: 30px;
  width: 100%;
  max-width: 1300px;
  min-height: calc(100vh - 300px);
}
