:import('../../colors.css'){
  lightShadow: lightestShadow;
  background: mainBackground;
  lightBlue: lightBlue;
  blue: blue;
  red: red;
  scrollBackground: darkScroller;
  hoverBackground: hoverBackground;
  hoverBackground2: hoverBackground2;
  darkBorder: darkBorder;
  darkGrey: darkGrey;
  navbarHeight: navbarHeight;
  graphHeight: graphHeight;
  graphWidth: graphWidth;
  lightGrey: lightGrey;
}

.WorkspaceTabs {
  height: 38px;
  padding: 0 0 0 0;
  position: absolute;
  top: -33px;
  /* left: 0; */
  overflow: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  z-index: 1;
}

.Tab {
  width: fit-content;
  align-self: flex-start;
  height: 35px;
  overflow: hidden;
  float: left;
  margin: 0 0 0 0;
  cursor: pointer;
  position: relative;
}

.TabNotification {
  position: absolute;
  right: 13px;
  top: 0px;
  background: red;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  color: white;
  transition: .2s;
  animation: bounce 4s infinite;
  overflow: visible;
  z-index: 2000 !important;
}

@keyframes bounce {
  0% {transform: rotateY(0deg); }
  20% {transform: rotateY(180deg); }
  80% {transoform: rotateY(180deg); }
  100% {transform: rotateY(360deg); }
}


.NewTab .TabBox {
  width: fit-content;
  padding: 0 10px;
  color: darkGrey;
  font-size: 16px;
  border: 1px transparent;
  background-color: transparent;
  margin-right: 20px;
}

.NewTab .TabBox i {
  position: relative;
  top: -1px;
}

.TabBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  background: #e8e8e8;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  border-radius: 4px 4px 0 0;
  margin: 0 0 0 0;
  /* box-shadow: 0 0 2px  #fff inset; */
  transition: .2s;
  font-size: 13px;
  /* -webkit-transform: perspective(150px) rotateX(30deg);
  -moz-transform: perspective(150px) rotateX(30deg); */
}

.TabName {
  padding: 0 15px;
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: darkGrey;
}

.Active {
  z-index: 40;
  /* position:relative; */
  padding-bottom: 1px;
}

.Tab:hover .TabBox {
  background-color: #f8f8f8;
}

.Active .TabBox {
  background-color: #f8f8f8;
  color: black;
  /* box-shadow: 0 0 2px 0 #fff inset; */
}

.Active .TabBox .TabName {
  color: black;
}

.Active:hover .TabBox {
  background-color: white;
}

.PageContainer {
  width: 100%;
  height: calc(100vh - navbarHeight);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f9;
  z-index: 0;
  padding: 0 20px;
}

.Container {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
}

.Top {
  display: flex;
  justify-content: center;
  width: 100%;
  height: graphHeight;
  flex-shrink: 1;
  /* flex-grow: 1; */
  /* border: 1px solid blue; */
}

.Bottom {
  background-color: background;
  /* color: white; */
  flex-shrink: 0;
  flex-grow: 2;
  display: flex;
  /* height: 20%; */
  /* min-height: 160px; */
}

.Left {
  width: graphWidth;
  height: 100%;
}

.Right {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  width: 23%;
  height: 100%;
  background-color: background;
  box-shadow: lightShadow;
  border-radius: 5px;
  /* color: white; */
}

.Graph {
  position: relative;
  /*  IF THIS ^  CHANGES BE SURE TO CHANEG THE WIDTH PARAMETER ON THE GGB GRAPH*/
  /* box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28); */
  /* border-radius: 3px; */
}
/* .SidePanel {
  display: flex;
  flex-flow: column;
  width: 23%;
  height: 100%;
} */



.Chat {
  height: 75%;
  /* flex-grow: 2; */
}

.Members {
  height: 25%;
}

.Replayer {
  height: 220px;
}


.Avatar {
  margin: 5px;
}

.RoomDescription {
  /* padding: 30px;
  display: flex;
  flex-direction: column; */
  height: 100%;
  border: 1px solid red;
}

.InstructionsTitle {
  border-bottom: 1px solid #ddd;
}

/* .Instructions {
 flex-grow: 2;
} */

.Expand {
  border: 1px solid orange;
}

.EditInstructions {
  color: #999;
  transition: .2s;
  cursor: pointer;
}

.EditInstructions:hover {
  color: blue;
}

.SetStart {
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* align-self: flex-end; */
}


.SideButton {
  flex-grow: 1;
  padding: 10px;
  /* border: 1px solid #ddd; */
  /* background-color: rgb(99, 83, 83); */
  /* color: white; */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  background-color: blue;
  color: white;
  /* border: 1px white; */
  border-radius: 3px 0px 0px 3px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
}


.SideButton:hover {
  background: #47ABFF;
}

.Exit {
  color: darkGrey;
  background-color: #D2D2D2;
  border-radius: 0px 3px 3px 0px;
}

.Exit:hover {
  background: #DFDFDF;
}

.ReferenceWindow {
  border-left: 1px solid #ddd;
  flex-grow: 1;
  height: 160px;
}

.Controls {
  display: flex;
  background: #f9f9f9;
}

.MousePointer {
  font-size: 18px;
  height:   50px;
  width: 50px;
  padding: 14px 10px 4px 20px;
  border-radius: 50%;
  background: #e8e8e8;
  margin: 0 10px;
  transition: .2s;
}

.ReferenceControls {
  display: flex;
  cursor: pointer;
  align-items: center;
  /* width: 100%; */
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.ReferenceTool {
  border-bottom: 1px solid #f9f9f9;
  transition: .2s;
}

.ReferencingActive {
  background: lightBlue;
}

/* .ReferenceControls:hover .MousePointer {
  background: lightBlue;
} */

.ReferenceControls:hover .ReferenceTool {
  border-bottom: 1px solid #999;
}

.ReferenceLine {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}

