:import('../../colors.css') {
  lightestShadow: lightestShadow;
  darkShadow: darkShadow;
  background: mainBackground;
  lightBlue: lightBlue;
  blue: blue;
  gridBlue: gridBlue;
  darkBlue: darkBlue;
  blueHover: blueHover;
  red: red;
  scrollBackground: darkScroller;
  hoverBackground: hoverBackground;
  hoverBackground2: hoverBackground2;
  darkBorder: darkBorder;
  darkGrey: darkGrey;
  navbarHeight: navbarHeight;
  graphHeight: graphHeight;
  graphWidth: graphWidth;
  lightGrey: lightGrey;
}

.PageContainer {
  width: 100%;
  height: 110vh;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 0;
  padding: 0 20px;
  padding-top: calc(navbarHeight / 2);
  background: #f8f8f8;
  /* overflow-y: hidden; */
}

.Container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1550px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: center; */
  /* align-content: stretch;
  align-items: stretch; */
  /* border: 1px solid red; */
}

.Background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(
    to top,
    #d4edfc 10%,
    gridBlue 35%,
    darkBlue 100%
  );
  z-index: -100;
}

.TabsAndTitle {
  display: flex;
  height: 35px;
  /* border: 1px solid khaki; */
}

.Title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2 0 auto;
  color: blue;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: capitalize;
  /* border: 1px solid darkorchid; */
  /* color: ; */
}

.WorkspaceTabs {
  /* border: 1px solid red; */
  padding: 0 0 0 0;
  /* top: -34px; */
  /* left: 0; */
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
  /* width: graphWidth; */
  display: flex;
  flex: 0 1 1;
  z-index: 1;
}

.Top {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
}

.ReplayerTop {
  composes: Top;
  height: 100%;
}

.Left {
  /* width: graphWidth; */
  order: 1;
  align-self: auto;
  flex: 1 0 auto;
  /* width: 75%; */
  display: flex;
  width: 80%;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  z-index: 1;
  align-items: stretch;
}

.ReplayerLeft {
  composes: Left;
  overflow: none;
  height: 90%;
}

.Right {
  order: 2;
  align-self: auto;
  flex: 0 0 auto;
  margin-left: 10px;
  /* height of tab should save this as a var so we just have to update it in one place */
  margin-top: 35px;
  width: 20%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 96%;
  justify-content: flex-start;
}

.Graph {
  /* position: relative; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* overflow: visible !important; */
  order: 1;
  flex: 1 0 auto;
  box-shadow: lightestShadow;
  /* border: 1px solid blue; */
  height: 100%;
  /* width: 100%; */
  /*  IF THIS ^  CHANGES BE SURE TO CHANEG THE WIDTH PARAMETER ON THE GGB GRAPH*/
  /* box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28); */
  /* border-radius: 3px; */
}

.ReplayerGraph {
  composes: Graph;
  position: relative;
  z-indes: 400;
}

.Bottom {
  background-color: background;
  order: 2;
  display: flex;
  align-content: flex-start;
  flex: 1 1 auto;
  margin-top: 10px;
  box-shadow: lightestShadow;
  /* box-shadow: 0px -1px 15px 2px rgb(148, 162, 200),
    2px 4px 4px 1px rgb(126, 135, 158); */
}

.ReplayerBottom {
  box-shadow: none;
  composes: Bottom;
  z-index: 500;
  bottom: 0;
  width: 100%;
  background: transparent;
  position: absolute;
}

.Chat {
  box-shadow: lightestShadow;
  order: 1;
  align-self: auto;
  border-radius: 3px;
  flex: 2 0 60%;
  /* Will overflow flex container without height set */
  height: 100px;
}

.Members {
  box-shadow: lightestShadow;
  order: 3;
  flex: 1 0 20%;
  /* Will overflow flex container without height set */
  height: 30px;
  /* min-height: 100px; */
}

.Tools {
  box-shadow: lightestShadow;
  /* box-shadow: 0px -1px 15px 2px rgb(148, 162, 200),
    2px 4px 4px 1px rgb(126, 135, 158); */
  order: 2;
  margin: 10px 0;
  flex: 0 0 auto;
  display: flex;
  /* position: relative; */
  /* border: 1px solid brown; */
}

.AcitvityTools {
  composes: Tools;
  flex: 0 0 auto;
}

.Replayer {
  height: 220px;
}

.Avatar {
  margin: 5px;
}

.EditInstructions {
  color: #999;
  transition: 0.2s;
  cursor: pointer;
}

.EditInstructions:hover {
  color: blue;
}

.SetStart {
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* align-self: flex-end; */
}

.ReferenceLine {
  position: absolute;
  height: 100%;
  width: 100%;
  /*top = tabAndTitle height */
  top: 35px;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
