:import('../../colors.css'){
  lightShadow: lightestShadow;
  background: mainBackground;
  lightBlue: lightBlue;
  blue: blue;
  blueHover: blueHover;
  red: red;
  scrollBackground: darkScroller;
  hoverBackground: hoverBackground;
  hoverBackground2: hoverBackground2;
  darkBorder: darkBorder;
  darkGrey: darkGrey;
  navbarHeight: navbarHeight;
  graphHeight: graphHeight;
  graphWidth: graphWidth;
  lightGrey: lightGrey;
}

.PageContainer {
  width: 100%;
  height: calc(100vh - navbarHeight);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f9;
  z-index: 0;
  padding: 0 20px;
}

.Container {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1550px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: center; */
  /* align-content: stretch;
  align-items: stretch; */
  /* border: 1px solid red; */
}

.Top {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid purple; */
}

.WorkspaceTabs {
  height: 38px;
  padding: 0 0 0 0;
  position: absolute;
  top: -34px;
  /* left: 0; */
  overflow: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: graphWidth;
  display: flex;
  z-index: 1;
}

.Left {
  /* width: graphWidth; */
  order: 1;
  align-self: auto;
  flex: 1 0 auto;
  /* width: 75%; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
}

.Right {
  order: 2;
  align-self: auto;
  flex: 0 0 auto;
  margin-left: 20px;
  /* width: 25%; */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  /* border: 2px solid red; */
  /* align-content: stretch;
  align-items: stretch; */
}


.Graph {
  position: relative;
  order: 1;
  flex: 1 0 auto;
  box-shadow: lightShadow;
  height: 100%;
  /* width: 100%; */
  /*  IF THIS ^  CHANGES BE SURE TO CHANEG THE WIDTH PARAMETER ON THE GGB GRAPH*/
  /* box-shadow: 0px 3px 10px -2px rgba(0,0,0,0.28); */
  /* border-radius: 3px; */
}

.Bottom {
  background-color: background;
  order: 2;
  display: flex;
  flex: 0 1 auto;
  margin-top: 10px;
  box-shadow: lightShadow;
}


.Chat {
  box-shadow: lightShadow;
  /* border-radius: 5px; */
  order: 1;
  /* height: 75%; */
  /* height: auto; */
  align-self: auto;
  /* max-height: 75%; */
  flex-shrink: 1;
  flex: 0 1 auto;
}

.Members {
  box-shadow: lightShadow;
  margin: 10px 0;
  /* border-radius: 5px; */
  order: 2;
  flex: 0 1 auto;
}

.BottomRight {
  order: 3;
  flex: 0 1 auto;
  /* border: 1px solid brown; */
}

.Replayer {
  height: 220px;
}


.Avatar {
  margin: 5px;
}

/* .Instructions {
 flex-grow: 2;
} */

.Expand {
}

.EditInstructions {
  color: #999;
  transition: .2s;
  cursor: pointer;
}

.EditInstructions:hover {
  color: blue;
}

.SetStart {
  /* flex-grow: 1;
  flex-shrink: 1; */
  /* align-self: flex-end; */
}


.SideButton {
  flex-grow: 1;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .2s;
  background-color: blue;
  color: white;
  border-radius: 3px 0px 0px 3px;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
  box-shadow: lightShadow;
  text-align: center;
}


.SideButton:hover {
  background: blueHover;
}

.Exit {
  color: darkGrey;
  background-color: #D2D2D2;
  border-radius: 0px 3px 3px 0px;
}

.Exit:hover {
  background: #DFDFDF;
}

.ReferenceWindow {
  /* height: 100%; */
  box-shadow: lightShadow;
  order: 3;
  align-self: auto;
  flex: 0 0 auto;
  /* flex-grow: 0;
  flex-shrink: 1; */
}

.Controls {
  display: flex;
}

.MousePointer {
  font-size: 18px;
  height:   50px;
  width: 50px;
  padding: 14px 10px 4px 20px;
  border-radius: 50%;
  background: #e8e8e8;
  margin: 5px 10px;
  transition: .2s;
}

.ReferenceControls {
  display: flex;
  cursor: pointer;
  align-items: center;
  /* width: 100%; */
  border-bottom: 1px solid #ddd;
  padding: 4px;
}

.ReferenceTool {
  border-bottom: 1px solid #f9f9f9;
  transition: .2s;
}

.ReferencingActive {
  background: lightBlue;
}

/* .ReferenceControls:hover .MousePointer {
  background: lightBlue;
} */

.ReferenceControls:hover .ReferenceTool {
  border-bottom: 1px solid #999;
}

.ReferenceLine {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  pointer-events: none;
}