:import("../../../colors.css") {
  blue: blue;
  lightBlue: lightBlue;
  orange: orange;
  gridBlue: gridBlue;
  darkOrange: darkOrange;
  red: red;
  lightRed: lightRed;
  darkGrey: darkGrey;
  lightestShadow: lightestShadow;
  lightShadow: lightShadow;
  newBoxShadow: newBoxShadow;
}

.Button {
  /* background-color: white; */
  border: none;
  align-self: center;
  padding: 8px;
  border-radius: 3px;
  /* border: 1px solid #d3d2d4; */
  transition: 0.2s;
  font-size: inherit;
  letter-spacing: 0.08em;
  cursor: pointer;
  /* box-shadow: lightestShadow; */
}

.Big {
  color: white;
  padding: 20px 30px;
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  font-family: inherit;
  transition: 0.2s;
  /* box-shadow: 0; */
}

.Big:hover {
  box-shadow: newBoxShadow;
  background-color: blue;
  border: none;
  padding: 21px 31px;
  background-image: linear-gradient(-180deg, lightBlue, blue 90%);
  border-radius: 3px;
}

.Big:active {
  background-image: none;
  background-color: #3796f5;
}

.Small {
  background-color: blue;
  background-image: linear-gradient(-180deg, lightBlue, blue 90%);
  color: white;
  box-shadow: lightestShadow;
  transition: 0.2s;
  padding: 10px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
}

.Small:active {
  background-image: none;
  background-color: #3796f5;
}

.Cancel {
  background-color: #999;
  box-shadow: lightestShadow;
  transition: 0.2s;
  color: white;
  padding: 10px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
}

.xs {
  padding: 2px;
  background-color: #999;
  color: white;
  transition: 0.2s;
}

.edit {
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #ccc;
}

.edit-save {
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: blue;
  color: white;
}

.xs:hover {
  background-color: blue;
}

.SmallCancel {
  background-color: #ccc;
  color: darkGrey;
  text-transform: uppercase;
  font-weight: 700;
  box-shadow: lightestShadow;
}

.SmallCancel:hover {
  box-shadow: lightShadow;
}

/* .Small:hover {
  box-shadow: lightShadow;
} */

.Cancel:hover {
  box-shadow: lightShadow;
}

.Primary {
}

.Secondary {
  color: white;
  background-color: darkOrange;
}

.Active {
  color: white;
  background-color: blue;
}

.Primary:hover {
  /* color: white; */
  background-color: #f9f9f9;
  border: 1px solid #babbb2;
}

.Active:hover {
  color: white;
  background-color: blue;
}

.Secondary:hover {
  color: white;
  box-shadow: newBoxShadow;
}

.Disabled {
  color: #333;
  background: #999;
}

.Danger {
  color: white;
  background: red;
  background-image: linear-gradient(red lightRed 90%);
}
