:import('../../../colors.css') {
  blue: blue;
  orange: orange;
  darkOrange: darkOrange;
  lightestShadow: lightestShadow;
  lightShadow: lightShadow;
  newBoxShadow: newBoxShadow;
}

.Button {
  /* background-color: white; */
  border: none;
  align-self: center;
  padding: 8px;
  border-radius: 3px;
  /* border: 1px solid #d3d2d4; */
  transition: .2s;
  font-size: inherit;
  letter-spacing: .08em;
  cursor: pointer;
  /* box-shadow: lightestShadow; */
}

.Big {
  color: white;
  padding: 20px 30px;
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  font-family: inherit;
  /* box-shadow: 0; */
}

.Big:hover {
  box-shadow: newBoxShadow;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 3px;
}

.Small {
  background-color: blue;
  color: white;
  box-shadow: lightestShadow;
  transition: .2s;
  padding: 10px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
}

.xs {
  padding: 2px;
  background-color: #999;
  color: white;
  transition: .2s;
}

.xs:hover{
  background-color: blue;
}

.SmallCancel {
  background-color: #ccc;
  color: #ddd;
}
.Small:hover {
  box-shadow: lightShadow;
}

.Primary {
}

.Secondary {
  color: white;
  background-color: darkOrange;
}

.Active {
  color: white;
  background-color: blue;
}

.Primary:hover {
  /* color: white; */
  background-color: #f9f9f9;
  border: 1px solid #babbb2;
}

.Active:hover {
  color: white;
  background-color: blue;
}

.Secondary:hover {
  color: white;
  box-shadow: newBoxShadow;
}
