:import('../../../colors.css') {
  blue: blue;
  lightBlue: lightBlue;
  orange: orange;
  gridBlue: gridBlue;
  darkOrange: darkOrange;
  red: red;
  lightRed: lightRed;
  lightGray: lightGray;
  darkGray: darkGray;
  lightestShadow: lightestShadow;
  lightShadow: lightShadow;
  newBoxShadow: newBoxShadow;
}

.Button {
  /* background-color: white; */
  border: none;
  align-self: center;
  padding: 8px;
  border-radius: 3px;
  /* border: 1px solid #d3d2d4; */
  height: 100%;
  transition: 0.2s;
  font-size: inherit;
  letter-spacing: 0.08em;
  cursor: pointer;
  box-shadow: lightestShadow;
  transition: 0.2s;
}

.Big {
  composes: Button;
  color: white;
  padding: 20px 30px;
  background: none;
  border: 2px solid white;
  border-radius: 3px;
  font-family: inherit;
  box-shadow: none;
  transition: 0s;
  /* box-shadow: 0; */
}

.Big:hover {
  box-shadow: lightShadow;
  border: 2px solid lightBlue;
  border-bottom: 2px solid blue;
  background-image: linear-gradient(-180deg, lightBlue, blue 90%);
}

.Big:active {
  background-image: none;
  background-color: #3796f5;
}

.Small {
  composes: Button;
  background-color: blue;
  background-image: linear-gradient(-180deg, #91c4ff, #2a85e0 100%);
  color: white;
  padding: 10px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
  transition: 0.2s;
}

.Small:hover {
  background-image: linear-gradient(-180deg, #8dbbf8, #2a85e0 100%);
}

.Small:active {
  background-image: none;
  background-color: #3796f5;
}

.Arrow {
  composes: Small;
  padding: 0;
  padding: 4px;
  font-size: 12px;
}

.Cancel {
  composes: Button;
  background-color: #999;
  transition: 0.2s;
  color: white;
  padding: 10px 20px;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 14px;
}

.xs {
  composes: Small;
  height: auto;
  width: 100%;
  /* margin-bottom: 1px; */
  padding: 4px 2px;
  transition: 0.2s;
}

.ntf {
  composes: Small;
  height: auto;
  width: 75px;
  margin-left: auto;
  /* position: absolute;
  right: 5px;
  bottom: 42px; */
  /* margin-bottom: 1px; */
  padding: 4px 2px;
  transition: 0.2s;
}

.ntf:hover {
  background-color: blue;
}

.xs-cancel {
  composes: xs Cancel;
  font-weight: 500 !important;
}

.edit {
  composes: Button;
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: #ccc;
}

.edit-save {
  composes: Button;
  padding: 8px 12px;
  margin: 0 10px;
  font-size: 14px;
  letter-spacing: 0.02em;
  background-color: blue;
  color: white;
}

.xs:hover {
  background-color: blue;
}

.Cancel {
  composes: Button;
  background-image: linear-gradient(-180deg, #ddcfcf, lightGray 90%);
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

.SmallCancel:hover {
  box-shadow: lightShadow;
}

/* .Small:hover {
  box-shadow: lightShadow;
} */

.Cancel:hover {
  /* box-shadow: lightShadow; */
  background-image: linear-gradient(-180deg, #cfc2c2, lightGray 90%);
}

.Cancel:active {
  background: #999;
}

.Primary {
  composes: Button;
}

.Secondary {
  composes: Button;
  color: white;
  background-color: darkOrange;
}

.Active {
  composes: Button;
  color: white;
  background-color: blue;
}

.Primary:hover {
  /* color: white; */
  background-color: #f9f9f9;
  border: 1px solid #babbb2;
}

.Active:hover {
  color: white;
  background-color: blue;
}

.Secondary:hover {
  color: white;
  box-shadow: newBoxShadow;
}

.Disabled {
  composes: Small;
  color: #333;
  cursor: not-allowed;
  background: linear-gradient(to top, #b9b0b0, lightGray 90%);
}

.Disabled:hover {
  background: linear-gradient(to top, #b9b0b0, lightGray 90%);
}

.Danger {
  composes: Button;
  color: white;
  background-image: linear-gradient(#fa8d8d, red 90%);
}

.Danger:hover {
  background-image: linear-gradient(#f37878, red 90%);
}

.Danger:active {
  background: #ec4545;
}

.None {
  border: none;
  background: inherit;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
}
