:import('../../../colors.css') {
  blue: blue;
  orange: orange;
  lightestShadow: lightestShadow;
  lightShadow: lightShadow;
}

.Button {
  background-color: white;
  border: none;
  align-self: center;
  margin: 13px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #d3d2d4;
  transition: .2s;
  font-size: inherit;
  letter-spacing: .1em;
  cursor: pointer;
  box-shadow: lightestShadow;
}

.Primary {
  color: blue;
}

.Secondary {
  color: white;
  background-color: orange;
}

.Primary:hover {
  color: white;
  background-color: blue;
}

.Secondary:hover {
  color: white;
  box-shadow: lightShadow;
}
