/* Styling adapted from example #27 from https://onaircode.com/html-css-radio-button-styles-examples/ */

.ToggleGroup {
  display: flex;
  flex-direction: row;
  width: 300px;
  font-size: inherit;
  margin-bottom: 5px;
  margin-right: 33px;
}

/* button plus label */
.ToggleElement {
  display: flex;
  flex-grow: 1;
}

.ToggleElement:first-child > label {
  border-radius: 5px 0 0 5px;
}

.ToggleElement:last-child > label {
  border-right: 1px solid #2a85e0;
  border-radius: 0 5px 5px 0;
}

.ToggleElement > label {
  width: 100%;
  cursor: pointer;
  font-style: italic;
  text-align: center;
  border-left: 1px solid #2a85e0;
  border-top: 1px solid #2a85e0;
  border-bottom: 1px solid #2a85e0;
  margin: 0 -5px; /* necessary bc flexbox doesn't have collapsing margins */
}

.ToggleButton {
  appearance: none;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}

.ToggleButton:checked ~ label {
  background-image: linear-gradient(-180deg, #91c4ff, #2a85e0 100%);
  background-color: #2a85e0;
  font-weight: bold;
  color: white;
}
