.Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: visible;
  font-weight: 300;
  margin-top: 10px;
  font-size: 16px;
  margin-bottom: 25px;
}

.ContentBox {
  min-width: 100%;
  width: 600px;
  /* min-width: 497px; */
  /* max-width: 33vw; */
  margin: 2px;
  transition: 0.2s;
}
