.Container {
  display: flex;
  /* flex: 1; */
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-x: visible;
  font-weight: 300;
  margin-top: 10px;
  font-size: 16px;
}

/* .Container > div {
  flex: 1 1 auto;
} */

.ContentBox {
  /* max-width: 252px; */
  width: 100%;
  margin: 2px;
  transition: .2s;
}