/* STOLEN FROM https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_radio
@TODO Add our own custom styling */

.Container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.Container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.Container:hover input ~ .Checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.Container input:checked ~ .Checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.Checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.Container input:checked ~ .Checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.Container .Checkmark:after {
 	top: 7px;
	left: 7px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: white;
}
