:import('../../colors.css') {
  lightestShadow: lightestShadow;
  blue: blue;
  lightBlue: lightBlue;
  darkGrey: darkGrey;
}

.Search {
  display: flex;
  align-items: center;
  font-size: inherit;
  height: 100%;
  width: 100%;
}

.Input {
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  padding-left: 35px;
  transition: 0.2s;
  background-color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  color: #666;
  caret-color: lightBlue;
  font-family: inherit;
  position: relative;
  box-shadow: lightestShadow;
}

.Input:focus {
  border: none;
  border: 1px solid blue;
  outline-width: 0;
}

.Icon {
  font-size: inherit;
  margin-left: 8px;
  position: absolute;
  color: darkGray;
}

.Dark {
  background: #f8f8f8;
}
