:import('../../colors.css'){
  lightestShadow: lightestShadow;
  blue: blue;
  lightBlue: lightBlue;
}

.Search {
  display: flex;
  align-items: center;
  background: #f9f9f9;
  /* border: 2px solid #ddd; */
  /* border-radius: 5px; */
  font-size: inherit;
  height: 100%;
  width: 100%;
  box-shadow: lightestShadow;
}

.Input {
  border: none;
  border-bottom: 1px solid #f9f9f9;
  width: 100%;
  padding: 5px;
  transition: .2s;
  background-color: #f9f9f9;
  font-size: inherit;
  letter-spacing: .08em;
  color: #666;
  caret-color: lightBlue;
}
.Input:focus{
  border: none;
  border-bottom: 1px solid blue;
  outline-width: 0;
}

.Icon {
  font-size: inherit;
  padding: 5px;
}
