.Container {
  display: flex;
  background-color: #fdfdfd;
  padding: 20px;
  align-self: center;
  width: 98%;
  /* box-shadow: 11px 20px 61px 20px rgba(248,248,248,1); */
  border: 1px solid #ddd;
  min-height: calc(100vh - 220px);
  margin-bottom: 50px;
}

.Title {
  margin: -20px 0 10px 10px;
  padding: 5px;
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 3px;
  background-color: #2D91F2;
  color: white;
  font-size: 1.3em;
  text-align: center;
}

.SidePanel {
  width: 300px;
}


.SidePanel > div {
  margin-bottom: 7px;
}

.Image {
  height: 250px;
  width: 250px;
  border-radius: 7px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.CourseName {
  font-size: 1.2em;
}

.Main {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
}

.Tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.Tab {
  padding: 15px;
  margin: 8px 35px 0 0;
  letter-spacing: .08em;
  cursor: pointer;
}

.ActiveTab {
  border-bottom: 1px solid #2D91F2;
}

.MainContent {
  padding-top: 30px;
}

.CreateContainer {

}
