.Container {
  display: flex;
  background-color: #fdfdfd;
  padding: 0 20px 20px 20px;
  align-self: center;
  width: 98%;
  /* box-shadow: 11px 20px 61px 20px rgba(248,248,248,1); */
  border: 1px solid #ddd;
  border-top: 1px solid #75b7f6;
  min-height: calc(100vh - 220px);
  margin-bottom: 50px;
}

.Title {
  margin-bottom: 20px;
  color: white;
  background-color: #4ba1f3;
  padding: 3px;
  border-radius: 0 0 14px 14px;
  text-align: center;
  height: 27px;
}

.SidePanel {
  width: 250px;
  margin-right: 50px;
}

.Image {
  height: 250px;
  width: 250px;
  border-radius: 7px;
  background-color: #f3f3f3;
  border: 1px solid #ddd;
}

.CourseName {
  font-size: 1.2em;
}

.Main {
  display: flex;
  flex-flow: column;
  flex-grow: 2;
  max-width: 850px;
}

.Tabs {
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #ddd;
}

.Tab {
  padding: 15px;
  margin: 8px 35px 0 0;
  letter-spacing: .08em;
  cursor: pointer;
}

.ActiveTab {
  border-bottom: 1px solid #2D91F2;
}

.MainContent {
  padding-top: 30px;
}

.CreateContainer {

}
